/*Digiby Custom CSS*/

@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe/SEGOEUI.TTF') format('TTF') font-weight: normal;
    font-style: normal;
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}





/*******Demo *************/

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 50px;
    /*border: 1px solid rgba(0,0,0,0.15);*/
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {

    /* content: url('../images/arw.png') no-repeat;
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
    background-color: green;*/
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    box-shadow: 0px 0px 1px 0px #000000;
    position: absolute;
    width: 171px;
    top: 102%;
    left: 14px;
    right: 0;
    z-index: 4;
    position: absolute;
    border-radius: 0px !important;
    background: white;
    border-radius: inherit;
    /* border: 1px solid rgba(0,0,0,0.17); */
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}





/*.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}*/


/*.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}*/

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #757575;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li a:hover {
    color: #000000;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}





/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}





/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}





/* No CSS3 support */

.no-opacity .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}





/***************/


/*body */

body {
    /*background-size: 994px auto !important;*/
}

.jumbotron {
    background-color: white;
    border-bottom: 3px solid orange;
    height: 200px;
    box-shadow: 0px 3px 9px 0px #757575;
}

.jum-row {
    margin-top: -34px;
}

.hr-line {
    margin-top: -13px;
}












/*.main-deta {
    width: 107%;
    overflow-y: scroll;
    position: relative;
    height: 100vh;
}
*/

.circleiz {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    /* background-color: red; */
    background: url(../images/profile-pic.jpg) center / cover no-repeat;
    border: 3px solid #d0d0d0;
    /* box-shadow: 0 0 0 5px #fff; */
    /*position: absolute;*/
    /*top: -28px;*/
    /* left: 197px; */
    position: relative;
    top: 23px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0px;
}

#filter-data {
    z-index: 1000;
    position: fixed;
    left: 391px;
    width: 0;
    height: 100%;
    margin-left: -330px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0px;

    background-color: #F5F5F5;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#filter-block.toggled #filter-data {
    width: 500px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#filter-block.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}















/*Leader board page*/

section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.hr-tag {
    position: relative;
    left: 57px;
}

select,
option {
    width: 12px !important;
}

.select-items {
    background-color: green;
}

.kpi_select select:focus {
    outline: none;
    /*color: black;*/
    border: none;
}

tr>th {
    vertical-align: bottom;
    border-bottom: 0px !important;
}

.profileimg {
    border: 3px solid #d0d0d0;
    border-radius: 80px;
}

.scroll-table {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    height: 290px;
}



/*.scroll-table {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    height: 290px;
}
*/

.img-table img {
    /*
    content: url(../images/profile-pic.jpg);
    background-repeat: no-repeat;*/
    height: 70px;
    width: 70px;
}

.sales-succ {
    content: url(../images/arrow-2.png);
    background-repeat: no-repeat;
}

.sales-drop {
    content: url(../images/arrow_drop.png);
    background-repeat: no-repeat;
}


.main-content {
    width: 100%;
    height: 67px;
    left: 121px;
    position: fixed;
}

.kpi-status {
    //width: 112%;
    background: #007eff; // margin: 0px 39px 0px 38px;
    border-radius: 0px !important;
}

.switch-field {

    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    outline-style: none;
    display: inline-block;
    width: 60px;
    background-color: #ffffff;
    color: #2ea4ff;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    /*    border: 1px solid rgba(0, 0, 0, 0.2);
*/
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #0b5289;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.salesarea .well-lg {
    height: 84px !important;
    border-radius: 0px !important;
}

.salesarea .well {
    box-shadow: inset -7px 8px 10px 0px rgba(0, 0, 0, .05) !important;
}

.loc {

    background: url(../images/location.png);
    background-repeat: no-repeat;
}



.scroll {
    /*width: 20px;
  height: 200px;*/
    overflow: auto;
    float: left;
    /*  margin: 0 10px;*/
}

.scroll1::-webkit-scrollbar {
    width: 5px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #b7b7b7;
}














/***/


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-navwdth {
    width: 265px;
    position: absolute;
    /*    left: 23px;
*/
    background-color: white;
    top: 86px;
    left: 28px;
}




.sidebar-nav li.main-filtersection {
    text-indent: 20px;
    line-height: 52px;
    border-bottom: 1px solid #d9d9d9;
    /*opacity: 0.5;*/
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    /*text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background-color: none;
}

.side-navwdth li a:active,
.side-navwdth li a:focus {
    text-decoration: none;
    background-color: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.gallery {
    background: url(../images/Gallery.png);
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 34px;
    margin-top: 14px;
    background-size: 23px auto;
    position: relative;
    top: -6px;
}

.cam {

    position: relative;
    background: url(../images/Camera.png);
    background-repeat: no-repeat;
    top: 5px;
}

.cam-con {
    padding-left: 33px;
}

@media screen and (min-width:1200px) and (max-width:1366px) {
   
    
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #filter-block {
        padding-left: 250px;
    }

    #filter-block.toggled {
        padding-left: 0;
    }

    #filter-data {
        width: 250px;
    }

    #filter-block.toggled #filter-data {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #filter-block.toggled #page-content-wrappers {
        position: relative;
        margin-right: 0;
    }
}

body {
    padding-top: 51px;
}

#overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}


#filter-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}




body {
    color: #FFF;
}

@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe/SEGOEUI.TTF') format('TTF'),
    /*url('../fonts/helvetica-ce/hv-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

.side-menu-icon {
    /*border: 1px solid blue;
  height: 50px;
  margin: 10px;*/
}






















/*.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
*/


/*.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}*/

.sidenav a {
    text-decoration: none;
    color: #777777;
}


.activesz {
    /*    border-right: 7px solid #0090ff;

    border-radius: 4px;
    color: #0090ff;

    */
    background: url(../images/sidenav.png) top right no-repeat;
    margin-left: 3px;
}

.selectop select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url('../images/arw.png') no-repeat;
    background-position: 144px 12px;
    background-color: #fff;
    width: 180px !important;
}



















/*.selectdiv{
       width: 153px;
    position: absolute;
    top: 26px;
    left: 124px;
}*/


/*.selectimg{
    background: url(../images/arw.png) no-repeat right;
    z-index: 1060;
    margin-left: 1px;

}*/

.slectbox {
    border-radius: 64px !important;
    border: 1px solid #AAAAAA;

    /*    margin-left: -36px;
*/
}




















/*-----Padding&Margin-Section-------*/

.padd-all-10 {
    padding: 10px;
}

.padd-all-4 {
    padding: 4px;
}


.padd-all-20 {
    padding: 20px;
}

.padd-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padd-l-10 {
    padding-left: 10px;
}

.padd-l-30 {
    padding-left: 30px;
}

.padd-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padd-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padd-top-10 {
    padding-top: 10px;
}

.padd-top-15 {
    padding-top: 15px;
}

.padd-top-12 {
    padding-top: 12px;
}

.padd-top-20 {
    padding-top: 20px;
}

.padd-bottom-20 {
    padding-bottom: 20px;
}

















/*********************margin *****************/

.marg-all-6 {
    margin: 6px;
}

.marg-all-10 {
    margin: 10px;
}

.marg-all-20 {
    margin: 20px;
}

.marg-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.marg-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marg-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.marg-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marg-top-20 {
    margin-top: 20px;
}

.marg-top-25 {
    margin-top: 25px;
}

.marg-bottom-20 {
    margin-bottom: 20px;
}

.marg-left-10 {
    margin-left: 10px;
}

.marg-left-20 {
    margin-left: 20px;
}

.marg-left-30 {
    margin-left: 30px;
}

.marg-left-40 {
    margin-left: 40px;
}

.marg-right-20 {
    margin-right: 20px;
}

.marg-top-10 {
    margin-top: 10px;
}

.marg-bottom-10 {
    margin-bottom: 10px;
}


.marg-right-10 {
    margin-right: 10px;
}

.marg-all-30 {
    margin: 30px;
}

.marg-all-30 {
    margin: 30px;
}

.marg-lr-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.marg-top-30 {
    margin-top: 30px;
}

.marg-bottom-30 {
    margin-bottom: 30px;
}



.marg-right-30 {
    margin-right: 30px;
}


/***colors ****/

.gray {
    color: #b7b7b7;
}

.grey {
    color: #757575;
}

.blck {
    color: #000000;
}

.light-black {
    color: #3c3b3b;
}

.light-grey {
    color: #7e7e7e;
}

.border-radius-0 {
    border-radius: 0;
}

.blue {
    color: #334494;
}

.white {
    color: #ffffff;
}

.d-inline-block {
    display: inline-block;
}

.orange {
    color: #ff8600;
}

.skyblu {
    color: #428eba;
}

.skbl {
    color: #007eff;
}


.he26 {
    height: 26px;
}

.light-grey {
    color: #a8a8a8;
}

.ligh-grey {
    color: #212121;
}

.light-color-grey {
    color: #333333;
}

.light-color-blck {
    color: #838383;
}

.light-color-blckgrey {
    color: #545454;
}


.skbl-back {
    background-color: #007eff;
}

.blu-color {
    background-color: #2ea4ff;
}

.bak-color-grey {
    background-color: #F5F5F5;
}






/*.light-green{
    color: #9ACD32;
}*/


/*body{background:url(../images/bg-pattern.png) no-repeat top center / 100%;}*/

.login-form {
    border-radius: 5px;
    padding: 40px 30px;
}

.login-form input {
    border-bottom: 1px solid #ededed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: initial;
}

.number {
    background: url(../images/mob.png) no-repeat top left / 20px;
    padding: 8px 0 10px 30px;
}

.password {
    background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
    padding: 8px 0 10px 30px;
}

.login-btn {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #02a3ff
}

.form-control:focus {
    box-shadow: initial;
}






















/** fonts ***/

.seg200 {
    font-weight: 200;
}

.seg400 {
    font-weight: 400;
}

.seg500 {
    font-weight: 500;
}

.seg600 {
    font-weight: 600;
}

.seg700 {
    font-weight: 700;
}

.pData {
    color: #000000;
    font-weight: 400;
}

.seg900 {
    font-weight: 900 !important;
}



















/*display */

.disp-block {
    display: inline-block;
}















/**font sizes **/

.font10 {
    font-size: 10px;
}

.font14 {
    font-size: 14px;
}

.font13 {
    font-size: 13px;
}

.font16 {
    font-size: 16px;
}

.font17 {
    font-size: 17px;
}

.font18 {
    font-size: 18px;
}

.font19 {
    font-size: 19px;
}

.font21 {
    font-size: 21px;
}

.signtxt {

    font-size: 12px;
    font-weight: normal;
    padding: 15px 0 5px 10px;
}

.font-group {
    font-family: 'segoeui' font-weight 400;
    font-size: 14px;
}

.kp_for {
    font-weight: 400;
    font-size: 14px;
    float: left;
}



.kp_for a {
    color: #b7b7b7;
    text-decoration: underline;
}

.form-control {
    border-radius: 0;
}

.logbtn {

    font-size: 14px;
}

.login a:hover {
    color: #fff;
}

.new-user a {
    font-weight: 600;
    font-size: 17px;
}

.circlecam {
    height: 3.1em;
    width: 3.1em;
    border-radius: 50%;
    box-shadow: 0px 0px 9px #000000;
    background: #fff;
    position: absolute;
    /* top: -28px; */
    color: white;
    /* left: -3px; */
    /* left: 197px; */
    left: 70px;
    top: 55px;
    /* border: 2px solid #fff; */
}




















/*Top Navbar - Notifications */


/*Notifications */


/*  .popover{
           top: 66px !important;
    left: 742.672px !important;
    display: block;
}*/

.badge {

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #007eff;
    border-radius: 10px;
    position: fixed;
    top: 26px;
    /* left: 41px; */
    margin-left: -2px;
}

.badge-msg {
    margin-left: -7px;
}

.popver {
    display: none;
}

#notification {
    left: 554.172px !important;
    top: 71px !important;
}


.nav {
    left: 50%;
    margin-left: 116px;
    /*    top:50px;
*/
    position: absolute;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #fff;
}

.dropdown {
    background: #fff;
    border-radius: 4px;
    width: 100px;
}

.dropdown-menu>li>a {
    color: #428bca;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 300px;
    left: -124px;
    /*box-shadow: 5px 10px 18px #000000;*/
    box-shadow: 1px 2px 12px 0px #7e7e7e;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.navbar-nav>li>a {
    padding-top: 32px !important;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}

.dropdown-menu>li>a {
    color: #000000;
    font-weight: 900;
    font-size: 17px;
}

.dropdown-menu>li>a:hover {
    color: #000000 !important;
    background-color: #ffffff;
}























/*Responsive css*/


/* Large devices (desktops, less than 1200px) */


/*@media (max-width: 1200px) {

}

@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
    body{background:url(../images/bg-pattern.png) no-repeat top center / cover; overflow-y: hidden;}
}

@media (max-width: 575px) {

}




@media (max-width: 480px) {
    body{background:url(../images/bg-pattern.png);}
    .login-form{background:url('../images/design.png') no-repeat left top / 113%; padding-top: 0; margin-top:0; padding-left: 10px;     margin-left: -15px;}
    .number, .password{width:60%;}
    .form-group.padd-top-10{padding-top:0;}
    .checkbox.padd-top-10{padding-top:0; margin:5px 0;}
    .login-form h4{font-size: 15px; padding: 10px 0;}
    .login, .new-user{width:60%;}
    .gray.pull-right{float:none !important;}
}


@media (max-width: 480px) {
    .login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 178px; padding-left: 10px; margin-left: -15px; padding-bottom: 190px;} .checkbox{font-size:12px;}
    .help_div{position:absolute; right:20px;}
    .footer-logo{position: absolute; right: 10px; bottom: 20px;}
    .login-form .logo{width:150px;}
}



@media (max-width: 380px) {
    .login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 145px; padding-left: 10px; margin-left: -15px; padding-bottom: 120px;} .checkbox{font-size:12px;}
    .help_div{position:absolute; right:20px;}
    .footer-logo{position: absolute; right: 10px; bottom: 50px;}
    .login-form .logo{width:150px;}
}


@media (max-width: 320px) {
    .login-form{padding-top:80px;     margin-top: 15px;}
}


*/

@media only screen and (min-width: 200px) and (max-width: 700px) {
    .mob-v-name {
        font-size: 11px;
        line-height: 1px;
    }
    .mob-v-det1 {
        font-size: 12px;
    }
    .sales-succ {
        height: 12px;
        width: 12px;
    }
    .sm-table-dev {
        margin-left: -28px;
        background-color: white;
        z-index: 16;
        /* background: aquamarine; */
        top: -57px;
        position: relative;
        width: 123%;
        height: 32px;
    }
    .stylish-input-group .input-group-addon {
        background: white !important;
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }
    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    .stylish-input-group .input-group-addon {
        background: white !important;
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }
    .stylish-input-group button {
        border: 0;
        background: transparent;
    }


    .filter-collapse-data .filter-option li {
        list-style-type: none;
        line-height: 35px;
        border-bottom: 1px dotted #DCDCDC;
        /* line-height: 2px;*/
        text-indent: -3px;
    }
    .block-filterdata {
        height: 61px;
        margin-top: -25px;
        position: relative;
    }
    .filter-img img {
        height: 22px;
        width: 22px;
        margin-top: -15px;
    }
    .filter-img-arr {
        width: 18px;
        margin-top: -15px;
    }
    .img-marg {
        left: 19px;
        position: relative;
    }

    .img-table .img-table-img {
        height: 30px;
        width: 30px;
    }

    .scroll-table {
        margin-left: -29px;
        width: 121%;
        margin-top: -56px;
        height: 363px;
    }

    .jumbotron {

        position: relative;
        bottom: 47px;
        height: 135px;
    }
    .jum-row {
        margin-top: -9px;
    }

    .salesarea .well-lg {
        height: 0px !important;
        position: relative;
        top: -40px;
        width: 113%;
        left: -17px;
    }
    .hr-line {
        left: 30px;
    }
    .captnamdiv {
        font-size: 12px;
    }
    .subcaptnamdiv {
        font-size: 11px;
    }
    .subcapnamdiv img {
        width: 12px;
    }
    body {
        background-size: 790px auto !important;
    }

    .activesz {
        /*    border-right: 7px solid #0090ff;

    border-radius: 4px;
    color: #0090ff;

    */
        background: none;
    }




    .sidenav {
        height: 100%;
        width: 120px;
        color: #000;
        position: fixed;
        z-index: -1;
        top: 100px;
        left: 0;
        background-color: #FFF;
        padding-top: 13px;
        margin-top: -24px;
    }

    .side-menu-icon {
        width: 100%;
        height: auto;
        /*  padding: 13px;*/
        color: #777777;
        text-align: center;
    }
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 10px 0;
    }
    .badge-msg {
        margin-left: -1px;
        margin-top: -21px;
    }

    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    .login-form {
        padding: 0 0 0 10px;
        margin: 26px 0 0 -15px;
    }
    .number,
    .password {
        width: 60%;
    }
    .form-group.padd-top-10 {
        padding-top: 0;
    }
    .checkbox.padd-top-10 {
        padding-top: 0;
        margin: 5px 0;
    }
    .login-form h4 {
        font-size: 15px;
        padding: 10px 0;
    }
    .login,
    .new-user {
        width: 60%;
    }
    .gray.pull-right {
        float: none !important;
    }
    span.help {
        font-size: 32px;
        color: #fff;
        position: absolute;
        background: red;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        height: 60px;
        display: inline-block;
        padding-top: 8px;
    }
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 20px;
        text-align: center;
    }
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    .login-bg {
        width: 400px;
        height: 400px;
        background: #FFF;
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* Standard syntax */
        position: absolute;
        z-index: -1;
        border-radius: 40px;
        left: -170px;
    }
    .login-area {
        width: 100%;
        height: auto;
        top: 17%;
        position: absolute;
        z-index: 10;
    }
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }
    .footer-logo {
        float: right;
    }


    header {
        display: none;
    }
    /*  .sidenav {display:none;}
*/
    .side-menu-icon {
        width: auto;
        height: auto;
        /*        padding: 12px 28.4px;
*/
        float: left;
        color: #777777;
        text-align: center;
        /*        border: 1px solid green;
*/
    }
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 10px 0;
    }
    .logo-in {
        width: 100px;
        float: right;
        margin: 19px -68px;
        left: -183px;
        position: relative;
    }
    .logo-in img {
        width: 100px;
        height: auto;
    }
    .mobile-header {
        width: 100%;
        height: 60px;
        margin: 0 0 40px 0;
        background: #FFF;
    }


    .header-right-area {
        width: auto;
        float: right;
    }
    .top-menu {
        width: auto;
        height: auto;
        margin: 5px;
        color: #777777;
        text-align: center;
        float: right;
        top: 4px;
        position: relative;
    }
    .top-menu img {
        width: 20px;
        height: auto;
    }
    .logout {
        width: auto;
        height: auto;
        margin: 27px 25px 0px 25px;
        color: #a7a7a7;
        text-align: right;
        float: right;
    }
    .logout img {
        width: 20px;
        height: auto;
        float: right;
        margin: 0 10px;
    }
    .profile-tab {
        display: none;
    }
    .profile-tab-pic {
        width: 50px;
        height: 50px;
        float: right;
        border: 10px #CCC;
        border-radius: 40px;
        background: url(../images/profile-pic.jpg);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .profile-text {
        width: 120px;
        margin: 5px 5px 0 0;
        font-size: 15px;
        font-family: helvetica;
        height: auto;
        float: right;
        text-align: center;
    }
    .profile-text p {
        font-size: 10px;
    }
    .msg-icon {
        width: 20px;
        height: auto;
        margin: 15px;
        color: #777777;
        text-align: center;
        float: right;
    }
    .msg-icon img {
        width: 20px;
        height: auto;
    }
    .notification-icon {
        width: 20px;
        height: auto;
        margin: 15px;
        color: #777777;
        text-align: center;
        float: right;
    }
    .notification-icon img {
        width: 20px;
        height: auto;
    }
    .main-area {
        margin-left: padding: 0px 0px;
    }
    .profile-area {
        width: 318px !important;
        height: 454px;
        background: #FFF;
        font-size: 11px;
        color: #777777;
        /* margin: 10% auto; */
        margin: 27% auto;
        left: 8px;
        /* margin-left: -3px; */
        box-shadow: 5px 10px 18px #000000;
        border-radius: 2px;
        /*    margin-left: -17px;
*/
    }
    .padd-all-4 {
        // padding: 0 !important;
    }

    .font13 {
        font-size: 10px !important;
    }
    .mob-de {
        margin-left: -7px !important;
    }
    .mar-tp {
        margin-top: -3px !important;
    }
    .font14 {
        font-size: 11px !important;
    }
    .profile-pic-area {
        width: 100%;
        height: 70px;
    }
    .profile-main-tab {
        position: absolute;
        margin: -50px 0 0 110px;
        width: 100px;
        height: 100px;
        z-index: 100;
        border-radius: 50px;
        background: url(../images/profile-pic.jpg);
        background-size: 120px 120px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #fff;
    }


    .profile-name {
        width: 100%;
        height: 30px;
        font-family: helvetica;
        font-size: 16px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }
    .profile-place {
        width: 100%;
        height: 20px;
        font-family: helvetica;
        font-size: 11px;
        text-align: center;
    }
    .profile-points {
        width: 100%;
        height: 80px;
        font-family: helvetica;
        font-size: 14px;
        font-weight: bold;
        color: #177dfe;
        text-align: center;
    }
    .profile-points span {
        width: 100%;
        height: 30px;
        font-family: helvetica;
        font-size: 11px;
        font-weight: bold;
        color: #777;
        text-align: center;
    }
    .profile-area-icon {
        width: 105px !important;
        height: 100px;
        border: 1px solid #DCDCDC;
        float: left;
        padding-top: 18px;
    }
    .profile-pic-icon-area {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .profile-pic-icon-area img {
        width: 23px;
        height: auto;
    }
    .bread-crum {
        display: none;
    }
    .mobile-bottom-menu {
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        bottom: 0px;
        position: absolute;
        width: 100%;
        font-size: 11.5px;
        color: #000;
        background-color: #FFF;
        overflow-x: hidden;
        padding-top: 0px;
    }
    .mobile-bottom-menu-icon {
        width: auto;
        height: auto;
        padding: 13px;
        float: left;
        color: #777777;
        text-align: center;
    }
    .mobile-bottom-menu-icon img {
        width: 23px;
        height: 23px;
        margin: 0 0 10px 0;
    }
}



@media only screen and (min-width: 701px) and (max-width: 1024px) {

    .desk-padding {
        padding-top: 24px;
    }
    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    .login-form {
        border-radius: 5px;
        padding: 40px 30px;
        background: #FFF;
    }
    .login-form input {
        border-bottom: 1px solid #ededed;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: initial;
    }
    .number {
        background: url(../images/mob.png) no-repeat top left / 20px;
        padding: 8px 0 10px 30px;
    }
    .password {
        background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
        padding: 8px 0 10px 30px;
    }
    .login-btn {
        border-radius: 50px;
        padding: 10px 20px;
        background-color: #02a3ff
    }
    .form-control:focus {
        box-shadow: initial;
    }
    span.help {
        font-size: 32px;
        color: #fff;
        position: absolute;
        background: red;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        height: 60px;
        display: inline-block;
        padding-top: 8px;
    }
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 50px;
        top: 20px;
        text-align: center;
    }
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    .login-area {
        width: 400px;
        height: auto;
        margin: 10% auto;
    }
    .login-bg {
        background: #FFF;
    }
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }
    .badge {
        top: 3px !important;
        left: 323px !important;
    }
}



@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    /*.img-table img {
        position: relative;
        right: 18px;
    }*/
    /* leader bard page ***/
    .desk-padding {
        padding-top: 24px;
    }
    .main-role {
        left: -47px;
    }
    .namdiv {
        top: 34px;
        left: -72px;
    }
    .profileimg {
        width: 125px;
        height: 122px;
    }
    .graphdata {
        background: url(../images/graph-1.png);
        background-repeat: no-repeat;
    }

    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    .login-form {
        border-radius: 5px;
        padding: 40px 30px;
        background: #FFF;
    }
    .login-form input {
        border-bottom: 1px solid #ededed;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: initial;
    }
    .number {
        background: url(../images/mob.png) no-repeat top left / 20px;
        padding: 8px 0 10px 30px;
    }
    .password {
        background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
        padding: 8px 0 10px 30px;
    }
    .login-btn {
        border-radius: 50px;
        padding: 10px 20px;
        background-color: #02a3ff
    }
    .form-control:focus {
        box-shadow: initial;
    }
    span.help {
        font-size: 32px;
        color: #fff;
        position: absolute;
        background: red;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        height: 60px;
        display: inline-block;
        padding-top: 8px;
    }
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 50px;
        top: 20px;
        text-align: center;
    }
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    .login-area {
        width: 400px;
        height: auto;
        margin: 10% auto;
    }
    .login-bg {
        background: #FFF;
    }
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }


    header {
        width: 100%;
        height: 80px;
        background: #FFF;
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
    }

    .sidenav {
        height: 100%;
        width: 120px;
        color: #000;
        position: fixed;
        z-index: -1;
        top: 100px;
        left: 0;
        background-color: #FFF;
        overflow-x: hidden;
        padding-top: 13px;
        margin-top: -24px;
    }
    .side-menu-icon {
        width: 100%;
        height: auto;
        padding: 13px;
        color: #777777;
        text-align: center;
    }
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 6px 0;
    }
    .logo-in {
        width: 120px;
        float: left;
        margin: 25px 0 0 25px;
    }
    .logo-in img {
        width: 136px;
        height: auto;
    }
    .header-right-area {
        width: auto;
        float: right;
    }
    .top-menu {
        width: auto;
        height: auto;
        margin: 25px;
        color: #777777;
        text-align: center;
        float: right;
    }
    .top-menu img {
        width: 20px;
        height: auto;
    }
    .logout {
        width: auto;
        height: auto;
        margin: 29px 25px 0px 25px;
        color: #777777;
        text-align: right;
        float: right;
    }
    .logout img {
        width: 20px;
        height: auto;
        float: right;
        margin: 0 10px;
    }
    .profile-tab {
        width: auto;
        height: auto;
        margin: -16px -82px 0px 25px;
        color: #777777;
        text-align: right;
        float: right;
    }
    .profile-tab-pic {
        width: 62px;
        height: 62px;
        float: right;
        border: 3px solid #d0d0d0;
        border-radius: 40px;
        background: url(../images/profile-pic.jpg);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        top: -6px;
        position: relative;
    }

    /*profile-arrow*/
    .profile-arrow {
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        background: url(../images/arr.png) center / cover no-repeat orange;
        /* box-shadow: 0 0 0 5px #fff; */
        position: absolute;
        /* top: -28px; */
        color: white;
        margin-left: 46px;
        margin-top: 33px;
        /* left: 197px; */
    }
    .profile-text {
        width: 120px;
        margin: -57px 60px -30px 0px;
        font-size: 12px;
        /*        font-family: helvetica;
*/
        height: auto;
        float: right;
        text-align: center;
    }
    .profile-text p {
        font-size: 10px;
        margin-top: -5px;
    }
    .msg-icon {
        width: 20px;
        height: auto;
        margin: 35px;
        color: #777777;
        text-align: center;
        float: right;
    }
    .msg-icon img {
        width: 20px;
        height: auto;
    }
    .notification-icon {
        width: 20px;
        height: auto;
        margin: 35px;
        color: #777777;
        text-align: center;
        float: right;
    }
    .notification-icon img {
        width: 20px;
        height: auto;
    }
    .main-area {
        margin-left: 100px;
        padding: 0px 10px;
    }
    .main-area-leaderboard {
        margin-left: 31px;
        padding: 0px 10px;
        width: 106%;
    }
    .profile-area {
        width: 400px;
        height: 400px;
        background: #FFF;
        font-size: 11px;
        color: #777777;
        margin: 10% auto;
        /* box-shadow: 5px 10px 18px #000000;*/
        box-shadow: 3px 5px 18px 7px rgba(0, 0, 0, 0.5);
        /*  -moz-box-shadow: 0 1px 4px #000000, 0 0 1px #000000 inset;
        box-shadow: 0 1px 1px #000000, 0 0 1px #000000 inset;*/
        border-radius: 2px;
    }
    .profile-pic-area {
        width: 100%;
        height: 70px;
    }
    .profile-main-tab-pos {
        position: absolute;
        margin: -50px 0 0 150px;
    }
    .profile-main-tab {
        /*position: absolute;
        margin: -50px 0 0 150px;*/
        width: 100px;
        height: 100px;
        z-index: 100;
        border-radius: 50px;
        background: url(../images/profile-pic.jpg);
        background-size: 120px 120px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #fff;
    }
}

.profile-name {
    width: 100%;
    height: 30px;
    font-family: helvetica;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.profile-place {
    width: 100%;
    height: 20px;
    font-family: helvetica;
    font-size: 15px;
    text-align: center;
}

.profile-points {
    width: 100%;
    height: 68px;
    /*        font-family: helvetica;
*/
    font-size: 17px;
    font-weight: 900;
    color: #177dfe;
    text-align: center;
    margin: 12px 0 0px;
}

.profile-points span {
    width: 100%;
    height: 30px;
    /*        font-family: helvetica;
*/
    font-size: 14px;
    font-weight: 700;
    color: #787878;
    text-align: center;
}

.profile-area-icon {
    width: 133px;
    height: 100px;
    border: 1px #CCC;
    float: left;
}

.profile-pic-icon-area {
    width: 100%;
    height: auto;
    text-align: center;
}

.profile-pic-icon-area img {
    width: 23px;
    height: auto;
}

.bread-crum {
    width: 100%;
    height: 40px;
    float: left;
    font-size: 19px;
    color: #FFF;
    margin: 0px;
    position: absolute;
    border-bottom-width: 15px;
    border-color: blue;
    top: 109px;
    left: 142px;
}

.bar-line {
    border-radius: 1px 2px 0px 2px;
    border-bottom: 4px solid #0090ff;
    width: 26px;
    /* top: -58px; */
    position: fixed;
    /* bottom: 228px; */
    /* right: 1267px; */
}


.mobile-bottom-menu {
    /*  display: none;*/
}

.sidenav-txt {
    color: #007eff;
}



















}


















/* main*/
