    #myTable {
        width: 300px;
        position: absolute;
        top: 145px;
    }
    
    #calendar {
        position: absolute;
        top: -8px;
    }
    
    .btnsty {
        height: 30px !important;
        width: 30px !important;
        border-radius: 100% !important;
        -webkit-border-radius: 100% !important;
        -moz-border-radius: 100% !important;
        -ms-border-radius: 100% !important;
        -o-border-radius: 100% !important;
    }
    
    #myTable span {
        display: inline-block;
        width: 47px;
        padding-left: 15px;
        padding-top: 15px;
        text-align: center;
    }
    
    #myTable span.dayActive {
        background-color: #ffffff;
        color: #ffffff;
    }
    
    #myTable span.dayActive button {
        color: #ffffff;
        width: 36px;
        background: black !important;
        border-radius: 100%;
        height: 28px;
    }
    
    .red {
        background: red !important;
    }
    
    .green {
        background: green !important;
    }
    
    .yellow {
        background: yellow !important;
    }
    
    .gre {
        background: grey !important;
    }
    
    .aboveavgP {
        background-color: orange !important;
    }
    
    #myTable span.prevDay button {
        color: black;
    }
    
    #myTable span button,
    #myTable span button:focus {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline-color: transparent;
        color: inherit;
    }
    
    .month,
    .year {
        text-align: center;
        padding: 10px 0px;
        font-size: 20px;
    }
    
    .eachrow {
        background-color: #cccccc;
    }
    
    #eachDay {
        /*background: white !important;
    */
        -webkit-border-radius: 100% !important;
        -moz-border-radius: 100% !important;
        -ms-border-radius: 100% !important;
        -o-border-radius: 100% !important;
        -webkit-border-radius: 100% !important;
    }
    
    .month {
        background-color: #dddddd;
        box-shadow: 0px 3px 8px #cccccc;
    }
    
    .weeks span {
        font-weight: 600;
    }
    
    .eachrow {
        height: 30px !important;
        width: 30px !important;
        border: 1px solid lightgrey !important;
        border-radius: 100% !important;
        -webkit-border-radius: 100% !important;
        -moz-border-radius: 100% !important;
        -ms-border-radius: 100% !important;
        -o-border-radius: 100% !important;
    }
    
    a.btn {
        font-size: 30px;
        cursor: pointer;
        padding: 10px 20px;
    }
    
    .showClass {
        display: block;
    }
    
    .hideClass {
        display: none;
    }
    
    #dateValue {
        margin-top: 20px;
        width: 200px;
        padding: 10px;
    }
    
    @media only screen and (min-width: 200px) and (max-width: 700px) {
        .calender>.caln {
            height: 300px;
            width: 300px;
        }
    }