.navbar-default{
	background-color: #fff;
	height: 74px;
}
.logo-img{
	height: 25px;
}
/*.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
*/