
/*Digiby Custom CSS*/
/*@font-face {
    font-family: 'helvetica_ceregular';
    src: url('../fonts/helvetica-ce/hv-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-ce/hv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

body{
	color:#FFF;
}
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe/SEGOEUI.TTF') format('TTF'),
         /*url('../fonts/helvetica-ce/hv-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;

}

.side-menu-icon{
	/*border: 1px solid blue;
  height: 50px;
  margin: 10px;*/
}

/*.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
*/
/*.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}*/

.sidenav a{
	text-decoration: none;
	color: #777777;
}


.activesz{
	border-right: 2px solid #0090ff;
	

	color: #0090ff;
	}


/*-----Padding&Margin-Section-------*/
.padd-all-10{ padding:10px;} .padd-all-20{ padding:20px;}
.padd-lr-20{ padding-left:20px; padding-right:20px;} .padd-tb-20{ padding-top:20px; padding-bottom:20px;}
.padd-tb-10{ padding-top:10px; padding-bottom:10px;}.padd-top-10{ padding-top:10px;}
.padd-top-20{ padding-top:20px;} .padd-bottom-20{ padding-bottom:20px;}
.marg-all-10{ margin:10px;} .marg-all-20{ margin:20px;}
.marg-lr-20{ margin-left:20px; margin-right:20px;} .marg-tb-20{ margin-top:20px; margin-bottom:20px;}
.marg-lr-10{ margin-left:10px; margin-right:10px;} .marg-tb-10{ margin-top:10px; margin-bottom:10px;}
.marg-top-20{ margin-top:20px;} .marg-bottom-20{ margin-bottom:20px;}
.marg-left-20{ margin-left:20px;} .marg-right-20{ margin-right:20px;}
.marg-top-10{ margin-top:10px;} .marg-bottom-10{ margin-bottom:10px;}
.marg-left-10{ margin-left:10px;} .marg-right-10{ margin-right:10px;}
.marg-all-30{ margin:30px;} .marg-all-30{ margin:30px;}
.marg-lr-30{ margin-left:30px; margin-right:30px;}
.marg-top-30{ margin-top:30px;} .marg-bottom-30{ margin-bottom:30px;}
.marg-left-30{ margin-left:30px;} .marg-right-30{ margin-right:30px;}

.gray{color: #b7b7b7;}
.border-radius-0{border-radius: 0;}
.blue{color: #334494;}
.white{color: #fff;}
.d-inline-block{display: inline-block;}
.orange{ color: #ff8600; }
.skyblu { color: #428eba; }
.skbl { color: #007eff }





/*body{background:url(../images/bg-pattern.png) no-repeat top center / 100%;}*/
.login-form{border-radius:5px; padding:40px 30px; }
.login-form input{border-bottom:1px solid #ededed; border-top:0; border-left:0; border-right:0; box-shadow: initial;}
.number{background: url(../images/mob.png) no-repeat top left / 20px; padding: 8px 0 10px 30px;}
.password{background:url(../images/pswd.png) no-repeat 0px 3px/ 20px; padding: 8px 0 10px 30px;}
.login-btn{border-radius:50px; padding:10px 20px; background-color: #02a3ff}
.form-control:focus{box-shadow:initial;}

/** fonts ***/
.seg400{
	font-family: 'segoeui',
	font-weight: 400;
}


.seg700{
	font-family: 'segoeui',
	font-weight: 700;
}

.pData{
	color: #000000;
	font-weight: 700;

}

.seg900{
	font-family: 'segoeui' !important,
	font-weight: 900 !important;
}

/**font sizes **/
.font16{
	font-size: 16px;
}

.font17{
	font-size: 17px;
}

.font18{
	font-size: 18px;
}
.font19{
	font-size: 19px;
}

.signtxt{

		font-size: 12px;
		font-weight: normal;
		padding:15px 0 5px 10px;
}
.font-group{
	font-family: 'segoeui'
	font-weight	400;
	font-size: 14px;
}
.kp_for{
	font-weight:400;
	font-size: 14px;
	float: left;
}



.kp_for a{
	color: #b7b7b7;
	text-decoration: underline;
}
.form-control{
	border-radius: 0;
}

.logbtn{

	font-size: 14px;
}

.login a:hover{
	color: #fff;
}
.new-user a{
	font-weight: 600;
	font-size: 17px;
}

/*Top Navbar - Notifications */

/*Notifications */
/*  .popover{
	       top: 66px !important;
    left: 742.672px !important;
    display: block;
}*/



.badge{

	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px; 
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #007eff;
    border-radius: 10px;
    position: fixed;
    top: 26px;
    /* left: 41px; */
    margin-left: -2px;
}
.badge-msg{
	margin-left: -7px;
}

.popver{
	display: none;
}

#notification{
	left: 554.172px !important;
	    top: 71px !important;
}


.nav {
    left:50%;
    margin-left:116px;
/*    top:50px;
*/    position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    background:#fff;
    border-radius:4px;
    width:100px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
        left: -124px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.navbar-nav>li>a {
    padding-top: 32px !important;
}

.dropdown-menu>li>a {
   padding: 8px 20px;
   
}

.dropdown-menu>li>a {
    color: #000000;
    font-weight: 900;
    font-size: 17px;
}

.dropdown-menu>li>a:hover {
   background-color: #A9A9A9 !important;
}


/*Responsive css*/

/* Large devices (desktops, less than 1200px) */
/*@media (max-width: 1200px) {

}

@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
	body{background:url(../images/bg-pattern.png) no-repeat top center / cover; overflow-y: hidden;}
}

@media (max-width: 575px) {

}




@media (max-width: 480px) {
    body{background:url(../images/bg-pattern.png);}
	.login-form{background:url('../images/design.png') no-repeat left top / 113%; padding-top: 0; margin-top:0; padding-left: 10px;     margin-left: -15px;}
	.number, .password{width:60%;}
	.form-group.padd-top-10{padding-top:0;}
	.checkbox.padd-top-10{padding-top:0; margin:5px 0;}
	.login-form h4{font-size: 15px; padding: 10px 0;}
	.login, .new-user{width:60%;}
	.gray.pull-right{float:none !important;}
}


@media (max-width: 480px) {
	.login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 178px; padding-left: 10px; margin-left: -15px; padding-bottom: 190px;} .checkbox{font-size:12px;}
	.help_div{position:absolute; right:20px;}
	.footer-logo{position: absolute; right: 10px; bottom: 20px;}
	.login-form .logo{width:150px;}
}



@media (max-width: 380px) {
	.login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 145px; padding-left: 10px; margin-left: -15px; padding-bottom: 120px;} .checkbox{font-size:12px;}
	.help_div{position:absolute; right:20px;}
	.footer-logo{position: absolute; right: 10px; bottom: 50px;}
	.login-form .logo{width:150px;}
}


@media (max-width: 320px) {
	.login-form{padding-top:80px;     margin-top: 15px;}
}


*/




@media only screen and (min-width: 200px) and (max-width: 700px)  {

  .login-bg{background:url(../images/bg-pattern.png); color:#FFF;}
	.login-form{padding:0 0 0 10px;  margin:26px 0 0 -15px;}
	.number, .password{width:60%;}
	.form-group.padd-top-10{padding-top:0;}
	.checkbox.padd-top-10{padding-top:0; margin:5px 0;}
	.login-form h4{font-size: 15px; padding: 10px 0;}
	.login, .new-user{width:60%;}
	.gray.pull-right{float:none !important;}
	span.help {font-size: 32px; color: #fff; position: absolute; background: red; width: 60px; text-align: center; border-radius: 50px; height: 60px; display: inline-block; padding-top: 8px;}
.help_div{ position: absolute; right:80px; color: #428eba; top:20px; text-align: center;}
.help_div p{margin-top:10px; font-size:20px;}
	.login-bg{width:400px; height:400px; background:#FFF; -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */ position:absolute; z-index:-1; border-radius:40px; left: -145px;}
    .login-area{ width:100%; height:auto; top:17%;  position: absolute; z-index: 10;}
    footer{bottom:10px; position: absolute; width:100%;}
    .footer-logo{ float:right; }



    header{display:none;}

/*	.sidenav {display:none;}
*/	.side-menu-icon{ width:auto; height:auto; padding:13px 24.5px; float: left; color:#777777; text-align: center; border: 1px solid green;}
	.side-menu-icon img{ width: 23px; height: 23px; margin: 0 0 10px 0; }
	.logo-in{width: 100px; float: right; margin: 15px 10px; 0 15px;}
	.logo-in img{ width: 100px; height: auto;}
	.mobile-header{ width: 100%; height: 60px; margin:0 0 40px 0; background:#FFF;}


	.header-right-area{ width: auto; float: right;}
	.top-menu{ width:auto; height:auto; margin:5px; color:#777777; text-align: center; float: right;}
	.top-menu img{ width: 20px; height: auto;}
	.logout{ width:auto; height:auto; margin:37px 25px 0px 25px; color:#a7a7a7; text-align: right; float: right;}
	.logout img{ width: 20px; height: auto; float: right; margin:0 10px;}
	.profile-tab{ display:none;}
	.profile-tab-pic{ width: 50px; height: 50px; float: right; border:10px #CCC; border-radius: 40px; background:url(../images/profile-pic.jpg);  background-size: 70px 70px;  background-repeat: no-repeat;background-position: center;}
	.profile-text{width:120px; margin: 5px 5px 0 0; font-size:15px; font-family: helvetica; height: auto; float: right; text-align: center;}
	.profile-text p{font-size: 10px;}
	.msg-icon{width:20px; height:auto; margin:15px; color:#777777; text-align: center; float: right;}
	.msg-icon img{ width: 20px; height: auto;}
	.notification-icon{width:20px; height:auto; margin:15px; color:#777777; text-align: center; float: right;}
	.notification-icon img{ width: 20px; height: auto;}
	.main-area{ margin-left:  padding: 0px 0px;}
	.profile-area{ width:306px;height:400px;background:#FFF; font-size: 11px; color: #777777; margin: 10% auto;}
	.profile-pic-area{ width: 100%; height: 70px;}
	.profile-main-tab{ position:absolute; margin: -50px 0 0 110px; width:100px; height:100px; z-index: 100; border-radius: 50px; background:url(../images/profile-pic.jpg);  background-size: 120px 120px;  background-repeat: no-repeat;background-position: center; }


	.profile-name{ width: 100%; height: 30px; font-family: helvetica; font-size: 16px; color:#000; font-weight: bold; text-align: center; }
	.profile-place{ width: 100%; height: 20px; font-family: helvetica; font-size: 11px;  text-align: center; }
	.profile-points{ width: 100%; height: 80px; font-family: helvetica; font-size: 14px; font-weight: bold; color:#177dfe; text-align: center; }
	.profile-points span{ width: 100%; height: 30px; font-family: helvetica; font-size: 11px; font-weight: bold; color:#777; text-align: center; }
	.profile-area-icon{width:102px; height: 100px; border:1px solid #DCDCDC; float: left; padding-top: 18px;}
	.profile-pic-icon-area{width:100%; height: auto; text-align: center;}
	.profile-pic-icon-area img{width:23px; height: auto;}
	.bread-crum{display:none;}
	.mobile-bottom-menu{ -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33);
box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33); bottom:0px; position: absolute; width:100%; font-size: 11.5px; color:#000; background-color: #FFF;overflow-x: hidden; padding-top: 0px;}
	.mobile-bottom-menu-icon{ width:auto; height:auto; padding:13px; float: left; color:#777777; text-align: center; }
	.mobile-bottom-menu-icon img{ width: 23px; height: 23px; margin: 0 0 10px 0; }
}



@media only screen and (min-width: 701px) and (max-width: 1024px)  {

	 .login-bg{background:url(../images/bg-pattern.png); color:#FFF;}
	.login-form{border-radius:5px; padding:40px 30px; background:#FFF; }
.login-form input{border-bottom:1px solid #ededed; border-top:0; border-left:0; border-right:0; box-shadow: initial;}
.number{background: url(../images/mob.png) no-repeat top left / 20px; padding: 8px 0 10px 30px;}
.password{background:url(../images/pswd.png) no-repeat 0px 3px/ 20px; padding: 8px 0 10px 30px;}
.login-btn{border-radius:50px; padding:10px 20px; background-color: #02a3ff}
.form-control:focus{box-shadow:initial;}
span.help {font-size: 32px; color: #fff; position: absolute; background: red; width: 60px; text-align: center; border-radius: 50px; height: 60px; display: inline-block; padding-top: 8px;}
.help_div{ position: absolute; right:80px; color: #428eba; top: 50px;  top:20px;  text-align: center;}
.help_div p{margin-top:10px; font-size:20px;}
.login-area{ width:400px; height:auto; margin:10% auto;}
.login-bg{background:#FFF;}
 footer{bottom:10px; position: absolute; width:100%;}

}


@media only screen and (min-width: 1025px) and (max-width: 1800px)  {

 .login-bg{background:url(../images/bg-pattern.png); color:#FFF;}
	.login-form{border-radius:5px; padding:40px 30px; background:#FFF; }
.login-form input{border-bottom:1px solid #ededed; border-top:0; border-left:0; border-right:0; box-shadow: initial;}
.number{background: url(../images/mob.png) no-repeat top left / 20px; padding: 8px 0 10px 30px;}
.password{background:url(../images/pswd.png) no-repeat 0px 3px/ 20px; padding: 8px 0 10px 30px;}
.login-btn{border-radius:50px; padding:10px 20px; background-color: #02a3ff}
.form-control:focus{box-shadow:initial;}
span.help {font-size: 32px; color: #fff; position: absolute; background: red; width: 60px; text-align: center; border-radius: 50px; height: 60px; display: inline-block; padding-top: 8px;}
.help_div{ position: absolute; right:80px; color: #428eba; top: 50px;  top:20px;  text-align: center;}
.help_div p{margin-top:10px; font-size:20px;}
.login-area{ width:400px; height:auto; margin:10% auto;}
.login-bg{background:#FFF;}
    footer{bottom:10px; position: absolute; width:100%;}


    header{width: 100%; height: 80px; background:#FFF; -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33);
box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.33); }

	.sidenav {height: 100%; width: 120px;  color:#000; position: fixed;z-index: -1;top: 100px;left: 0;background-color: #FFF;overflow-x: hidden; padding-top: 13px; margin-top: -24px;}
	.side-menu-icon{ width:100%; height:auto; padding:13px; color:#777777; text-align: center; }
	.side-menu-icon img{ width: 23px; height: 23px; margin: 0 0 10px 0; }
	.logo-in{width: 120px; float: left; margin: 25px 0 0 25px;}
	.logo-in img{ width: 180px; height: auto;}
	.header-right-area{ width: auto; float: right;}
	.top-menu{ width:auto; height:auto; margin:25px; color:#777777; text-align: center; float: right;}
	.top-menu img{ width: 20px; height: auto;}
	.logout{ width:auto; height:auto; margin:37px 25px 0px 25px; color:#777777; text-align: right; float: right;}
	.logout img{ width: 20px; height: auto; float: right; margin:0 10px;}
	.profile-tab{ width:auto; height:auto; margin:-13px -82px 0px 25px; color:#777777; text-align: right; float: right; }
	.profile-tab-pic{ width: 50px; height: 50px; float: right; border:10px #CCC; border-radius: 40px; background:url(../images/profile-pic.jpg);  background-size: 70px 70px;  background-repeat: no-repeat;background-position: center;}
	.profile-text{width:120px; margin: -55px 49px -30px 0px; font-size:15px; font-family: helvetica; height: auto; float: right; text-align: center;}
	.profile-text p{font-size: 10px;}
	.msg-icon{width:20px; height:auto; margin:35px; color:#777777; text-align: center; float: right;}
	.msg-icon img{ width: 20px; height: auto;}
	.notification-icon{width:20px; height:auto; margin:35px; color:#777777; text-align: center; float: right;}
	.notification-icon img{ width: 20px; height: auto;}
	.main-area{ margin-left: 100px;  padding: 0px 10px;}
	.profile-area{ width:306px;height:400px;background:#FFF; font-size: 11px; color: #777777; margin: 10% auto;}
	.profile-pic-area{ width: 100%; height: 70px;}
	.profile-main-tab{ position:absolute; margin: -50px 0 0 110px; width:100px; height:100px; z-index: 100; border-radius: 50px; background:url(../images/profile-pic.jpg);  background-size: 120px 120px;  background-repeat: no-repeat;background-position: center; }


	.profile-name{ width: 100%; height: 30px; font-family: helvetica; font-size: 16px; color:#000; font-weight: bold; text-align: center; }
	.profile-place{ width: 100%; height: 20px; font-family: helvetica; font-size: 11px;  text-align: center; }
	.profile-points{ width: 100%; height: 80px; font-family: helvetica; font-size: 14px; font-weight: bold; color:#177dfe; text-align: center; }
	.profile-points span{ width: 100%; height: 30px; font-family: helvetica; font-size: 11px; font-weight: bold; color:#777; text-align: center; }
	.profile-area-icon{width:100px; height: 100px; border:1px #CCC; float: left;}
	.profile-pic-icon-area{width:100%; height: auto; text-align: center;}
	.profile-pic-icon-area img{width:23px; height: auto;}
	.bread-crum{ width:100%; height:40px; float: left; font-size:19px; color:#FFF; margin: 0px; position: absolute; border-bottom-width: 15px; border-color: blue; }


	.mobile-bottom-menu{display: none;}
}











