/*Digiby Custom CSS*/

@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe/SEGOEUI.TTF') format('TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: digital;
    src: url(../fonts/digital-7\ \(mono\ italic\).ttf)
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.blck a {
    color: #757575;
}

.blck a:hover {
    text-decoration: none;
    color: #000000;
}


/*
#sidenav::-webkit-scrollbar {
    width: 9px;
    height: 2em;
}

#sidenav::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   // this is important
}
#sidenav::-webkit-scrollbar-thumb {
   background: rgb(255,25,255);
    /*border: 1px solid rgb(0,0,0);
}*/


/*#sidenav::-webkit-scrollbar {
    width: 9px;
    height: 2em;
}
#sidenav::-webkit-scrollbar-track-piece {
    background: red;
}
#sidenav::-webkit-scrollbar-thumb {
    background: #eee;
}
*/

#Sign-form {
    background: url(../images/bg-pattern.png);
    color: #FFF;
    background-size: 60% auto;
}

span.help {
    font-size: 32px;
    color: #fff;
    position: absolute;
    background: red;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    height: 60px;
    display: inline-block;
    padding-top: 8px;
    box-shadow: 0px 4px 6px #000000;
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}

.otpbtn .btn:active {
    border-style: outset;
    border: none;
    box-shadow: 0px 1px 12px 0px skyblue !important;
    /* background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);*/
}

.btn:hover {
    box-shadow: 0px 1px 12px 0px skyblue !important;
    /*transform: translateY(4px);*/
}

.otpbtn>.btn:hover {
    box-shadow: 0px 1px 18px 0px orange !important;
}


/*******Demo *************/

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    /* Styles */
    background: #fff;
    border-radius: 50px;
    /*border: 1px solid rgba(0,0,0,0.15);*/
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {
    /* content: url('../images/arw.png') no-repeat;
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
    background-color: green;*/
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    /*box-shadow: 0px 0px 1px 0px #000000;*/
    box-shadow: 1px 2px 12px 0px #7e7e7e;
    position: absolute;
    width: 171px;
    top: 102%;
    left: 14px;
    right: 0;
    z-index: 4;
    position: absolute;
    border-radius: 0px !important;
    background: white;
    border-radius: inherit;
    /* border: 1px solid rgba(0,0,0,0.17); */
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}


/* rewards ***/

.viewbtn {
    background: #01bd78;
    border: none;
    padding: 5px;
    width: 60px;
    /* box-shadow: 0px 0px 19px 1px #228B22; */
    box-shadow: 1px 4px 0px 0px #228B22;
}

.viewbtn:hover,
{
    color: rgb(155, 113, 113) !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 7px 16px !important;
}

a {
    color: #757575;
}

.nav-pills>li.active>a {
    color: black !important;
    font-weight: 900 !important;
    background-color: #b7b7b7 !important;
    /* opacity: 0.7; */
}

.thismonth>li.active {
    color: green !important;
}

.thismonth>.badge {
    position: absolute !important;
    top: -9px !important;
    left: 92px !important;
    background-color: orange !important;
}

.modal-body {
    padding: 0px !important;
}

.circular {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: white;
    top: 60px;
    margin: 0 auto;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
    position: relative;
    /* background: url(../images/icon-2.png) center / cover no-repeat;
    position: relative;
    top: 23px;
    margin: 0 auto; */
}

.bgrund-contes>.circular {
    top: 71px !important;
    width: 4em;
    height: 4em;
}

.circular img {
    position: absolute;
    top: 21px;
    width: 31px;
    /* margin: 0 auto; */
    left: 25px;
}

.bgrund-contes>.circular img {
    position: absolute;
    top: 8px;
    width: 33px;
    /* margin: 0 auto; */
    left: 14px;
}

.rew-pop-points {
    width: 230px;
    margin: 0 auto;
}


/*

.btn-default.btn-on.active {
    background-color: #007eff !important;
    color: white;
}

*/


/*** rewards ends **/


/*.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}*/


/*.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}*/

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #757575;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li a:hover {
    color: #000000;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}


/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    /*background: #f3f8f8;*/
}


/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}


/* No CSS3 support */

.no-opacity .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}


/***************/


/*body */

body {
    /*background-size: 994px auto !important;*/
}

.jumbotron {
    background-color: white;
    border-bottom: 3px solid orange;
    /*height: 200px;*/
    height: 170px;
    /* box-shadow: 0px 3px 9px 0px #757575;*/
    box-shadow: -1px 1px 9px 0px #757575;
}

.jum-row {
    margin-top: -34px;
}

.hr-line {
    margin-top: -13px;
}


/** index page **/

.help-bl a {
    text-decoration: none !important;
    color: #428eba !important;
}

.help-bl a:hover {
    text-decoration: underline !important;
    color: #428eba !important;
}

.register a {
    text-decoration: underline;
}

.register a:hover {
    text-decoration: underline;
    color: #ff8600;
    /*background: black;*/
}

.gray a:hover,
.gray a:visted {
    color: #02a3ff;
}

.register a:active,
.register a:visited {
    color: #ff8600 !important;
}

.login-form a:hover {
    text-decoration: none;
}

.checkbox {
    margin-top: 0px !important;
}

.for-passw {
    /*font-weight: 500 !important;*/
    font-size: 20px !important;
}

.for-passw a {
    text-decoration: underline !important;
    color: #b7b7b7;
    font-weight: 500 !important;
    font-size: 16px;
    /*letter-spacing: 1px;*/
    opacity: 1.4;
}


/* The container */

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 400 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ccc;
    opacity: 0.3;
}


/* On mouse-over, add a grey background color */

.check-container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.check-container input:checked~.checkmark {
    /*background-color: #2196F3;*/
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*.main-deta {
    width: 107%;
    overflow-y: scroll;
    position: relative;
    height: 100vh;
}
*/

.circleiz {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    /* background-color: red; */
    background: url(../images/profile-pic.jpg) center / cover no-repeat;
    border: 3px solid #d0d0d0;
    /* box-shadow: 0 0 0 5px #fff; */
    /*position: absolute;*/
    /*top: -28px;*/
    /* left: 197px; */
    position: relative;
    top: 23px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0px;
}

#filter-data {
    z-index: 1000;
    position: fixed;
    left: 391px;
    width: 0;
    height: 100%;
    margin-left: -330px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0px;
    background-color: #F5F5F5;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#filter-block.toggled #filter-data {
    width: 500px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#filter-block.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/*otp page */

.otpdeta>.number {
    height: 41px;
}


/*Leader board page*/

.viewbutton:hover,
.viewbutton {
    background-color: #eaeaea;
    border: 0;
    font-weight: 600;
    font-size: 13px;
    color: #7e7e7e;
}

.search-det .form-control {
    border: 0px solid #ccc;
    /*box-shadow: inset 0 0 2px 2px #F5F5F5;*/
    /*box-shadow: inset 0 0 8px #4d4d4d;*/
    box-shadow: inset 4px 3px 18px 0px #4d4d4d;
    background: #F5F5F5;
}

.search-det .form-control:focus {
    border-color: #ccc;
    /* box-shadow:inset 0 0 5px 5px #888;
    background: #fff;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
}

.search-box {
    position: relative;
    opacity: 0.5;
    bottom: 25px;
}

.filter-arrow {
    font-size: 28px !important;
    float: right;
    position: relative;
    right: 21px;
    padding-top: 9px;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 2px 0px gray inset;
}

input[type='radio']:hover {
    box-shadow: 0 0 5px 0px orange inset;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
    outline: none !important;
}

input[type='radio']:checked:before {
    background: orange;
    outline: none !important;
}

input[type="radio"]:checked {
    outline-color: white;
}

.pos-details {
    text-align: center;
    height: 27px;
    width: 31px;
    border-radius: 4px;
    padding-top: 2px;
}

.pos-arrow {
    position: relative;
    /*    bottom: 3px;
*/
    height: 21px;
    bottom: 7px;
}

section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.hr-tag {
    position: relative;
    left: 40px;
}

select,
option {
    width: 12px !important;
}

.select-items {
    background-color: green;
}

.kpi_select select:focus {
    outline: none;
    /*color: black;*/
    border: none;
}

tr>th {
    vertical-align: bottom;
    border-bottom: 0px !important;
}

.profileimg {
    border: 3px solid #d0d0d0;
    border-radius: 100px;
    height: 48px;
    width: 49px;
}

.scroll-table {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    height: 290px;
}


/*.scroll-table {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    height: 290px;
}
*/

.img-table img {
    /*
    content: url(../images/profile-pic.jpg);
    background-repeat: no-repeat;*/
    height: 70px;
    width: 70px;
}

.sales-succ {
    content: url(../images/arrow-2.png);
    background-repeat: no-repeat;
}

.sales-drop {
    content: url(../images/arrow_drop.png);
    background-repeat: no-repeat;
}

.main-content {
    width: 100%;
    height: 67px;
    left: 121px;
    position: fixed;
}

.kpi-status {
    //width: 112%;
    background: #007eff; // margin: 0px 39px 0px 38px;
    border-radius: 0px !important;
}

.switch-field {
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    outline-style: none;
    display: inline-block;
    width: 60px;
    background-color: #ffffff;
    color: #2ea4ff;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    /*    border: 1px solid rgba(0, 0, 0, 0.2);
*/
    /* -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #0b5289;
    -webkit-box-shadow: none;
    /*box-shadow: none;*/
    color: #ffffff;
    box-shadow: 0px 1px 2px 0px #0b5289;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.salesarea .well-lg {
    height: 69px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.salesarea .well {
    box-shadow: inset -7px 8px 10px 0px rgba(0, 0, 0, .05) !important;
}

.loc {
    background: url(../images/location.png);
    background-repeat: no-repeat;
}

.scroll {
    /*width: 20px;
  height: 200px;*/
    overflow: auto;
    float: left;
    margin-top: -9px;
    /*  margin: 0 10px;*/
}

.scroll1::-webkit-scrollbar {
    width: 5px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #b7b7b7;
}


/*** likes and messages starts **/


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-navwdth {
    width: 292px;
    position: absolute;
    /* left: 23px; */
    background-color: white;
    top: 86px;
    left: 11px;
    box-shadow: 1px 2px 12px 0px #7e7e7e;
}

.sidebarmsg {
    width: 346px;
    top: 120px;
    left: 17px;
}


/*** messages start ****/

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    background: white;
}

.panel-heading a:before {
    /*font-family: 'Glyphicons Halflings';
    content: "\e257";
    */
    float: right;
    transition: all 0.5s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.likmsg {
    height: 20px;
}

.tgle>.badge {
    position: initial;
    background: #007eff !important;
    padding: 4px 3px;
}

.backgrow {
    background: #eaeaea;
    padding: 3px;
}


/*** messages ends ***/


/***likes and message ends ***/


/**game card starts ****/

.gamecblck {
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: none;
}


/** game card ends ****/

.ss {
    width: 292px;
    position: absolute;
    /* left: 23px; */
    background-color: white;
    top: 46px;
    left: 9px;
}

.side-barmenu .sidebar-nav li {
    text-indent: 20px;
    line-height: 52px;
    border-bottom: 1px solid #d9d9d9;
    /*opacity: 0.5;*/
}


/*.sidebar-nav li {
    text-indent: 20px;
    line-height: 52px;
    border-bottom: 1px solid #d9d9d9;
    /*opacity: 0.5;
}*/

.sidebar-nav li.main-filtersection {
    text-indent: 20px;
    line-height: 44px;
    /* border-bottom: 1px solid #d9d9d9;*/
    border-bottom: 1px dotted #DCDCDC;
    border-bottom-width: thin;
    /* padding: 1px;*/
    /*opacity: 0.5;*/
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    /*text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background-color: none;
}

.side-navwdth li a:active,
.side-navwdth li a:focus {
    text-decoration: none;
    background-color: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.gallery {
    background: url(../images/Gallery.png);
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 34px;
    margin-top: 14px;
    background-size: 23px auto;
    position: relative;
    top: -6px;
}

.cam {
    position: relative;
    background: url(../images/Camera.png);
    background-repeat: no-repeat;
    top: 5px;
}

.cam-con {
    padding-left: 33px;
}

@media (min-width:412px) and (max-width:481px) {
    .for-passw a {
        right: 153px !important;
    }
    .new-user {
        margin-left: -49px !important;
    }
}


/* Kpi Dashboard */

.wel-txt>.panel {
    background: #007eff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.wl_dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}

@media (min-width:1365px) and (max-width:1366px) {
    /* styles for browsers larger than 1440px; */
    /*  body {
        background-color: green !important;
    }*/
    .container-lgde {
        width: 1235px;
    }
}

@media (min-width:320px) and (max-width:321px) {
    .for-passw a {
        position: absolute;
        right: 66px !important;
    }
    #conmob,
    #homemob,
    #rewmob,
    #gamecard {
        margin-left: 28px !important;
    }
    /*bottom scroll **/
    /*
   body{
    background-color: black !important;

   }*/
}

@media (min-width:360px) and (max-width: 361px) {
    .burger-ico {
        right: 321px !important;
    }
    .side-navwdth {
        width: 280px !important;
        left: 9px !important;
    }
    #closenav {
        padding-left: 52px !important
    }
    .fa,
    .fa-angle-up {
        padding-left: 108px !important;
    }
}


}
@media(min-width:1600px) {
    /* .logout {
   
    margin: 29px 261px 0px 25px !important;
  
}*/
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    
    #wrapper.toggled {
        padding-left: 0;
    }
    
    #sidebar-wrapper {
        width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    #filter-block {
        padding-left: 250px;
    }
    
    #filter-block.toggled {
        padding-left: 0;
    }
    
    #filter-data {
        width: 250px;
    }
    
    #filter-block.toggled #filter-data {
        width: 0;
    }
    
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    
    #filter-block.toggled #page-content-wrappers {
        position: relative;
        margin-right: 0;
    }
}
body {
    padding-top: 51px;
}
#overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}
#filter-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}
body {
    color: #FFF;
}
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe/SEGOEUI.TTF') format('TTF'),
    /*url('../fonts/helvetica-ce/hv-webfont.woff') format('woff');*/
    
    font-weight: normal;
    font-style: normal;
}
.side-menu-icon {
    /*border: 1px solid blue;
  height: 50px;
  margin: 10px;*/
}

/*.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
*/

/*.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}*/
.sidenav a {
    text-decoration: none;
    color: #777777;
}
.activesz {
    /*    border-right: 7px solid #0090ff;

    border-radius: 4px;
    color: #0090ff;

    */
    /*background: url(../images/sidenav.png) top left no-repeat;*/
    
    background: url(../images/sidenav1.png) top left no-repeat;
    margin-left: 3px;
}
.selectop select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url('../images/arw.png') no-repeat;
    background-position: 144px 12px;
    background-color: #fff;
    width: 180px !important;
}

/*.selectdiv{
       width: 153px;
    position: absolute;
    top: 26px;
    left: 124px;
}*/

/*.selectimg{
    background: url(../images/arw.png) no-repeat right;
    z-index: 1060;
    margin-left: 1px;

}*/
.slectbox {
    border-radius: 64px !important;
    border: 1px solid #AAAAAA;
    /*    margin-left: -36px;
*/
}

/*-----Padding&Margin-Section-------*/
.padd-all-10 {
    padding: 10px;
}
.padd-all-4 {
    padding: 4px;
}
.padd-all-5 {
    padding: 5px;
}
.padd-all-20 {
    padding: 20px;
}
.padd-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padd-l-10 {
    padding-left: 10px;
}
.padd-l-20 {
    padding-left: 20px;
}
.padd-l-30 {
    padding-left: 30px;
}
.padd-l-40 {
    padding-left: 40px;
}
.padd-l-25 {
    padding-left: 25px;
}
.padd-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padd-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padd-bottom-20 {
    padding-bottom: 20px;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padd-top-10 {
    padding-top: 10px;
}
.padd-top-15 {
    padding-top: 15px;
}
.padd-top-12 {
    padding-top: 12px;
}
.padd-top-20 {
    padding-top: 20px;
}
.padd-top-35 {
    padding-top: 35px;
}

/*********************margin *****************/
.marg-all-6 {
    margin: 6px;
}
.marg-all-10 {
    margin: 10px;
}
.marg-all-20 {
    margin: 20px;
}
.marg-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.marg-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marg-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.marg-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.marg-top-20 {
    margin-top: 20px;
}
.marg-top-25 {
    margin-top: 25px;
}
.marg-bottom-20 {
    margin-bottom: 20px;
}
.marg-left-10 {
    margin-left: 10px;
}
.marg-left-15 {
    margin-left: 15px;
}
.marg-left-20 {
    margin-left: 20px;
}
.marg-left-25 {
    margin-left: 25px;
}
.marg-left-30 {
    margin-left: 30px;
}
.marg-left-40 {
    margin-left: 40px;
}
.marg-right-20 {
    margin-right: 20px;
}
.marg-top-10 {
    margin-top: 10px;
}
.marg-bottom-10 {
    margin-bottom: 10px;
}
.marg-right-10 {
    margin-right: 10px;
}
.marg-all-30 {
    margin: 30px;
}
.marg-all-30 {
    margin: 30px;
}
.marg-lr-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.marg-top-30 {
    margin-top: 30px;
}
.marg-bottom-30 {
    margin-bottom: 30px;
}
.marg-topbottom-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.marg-right-50 {
    margin-right: 50px;
}
.marg-right-30 {
    margin-right: 30px;
}

/***colors ****/
.gray {
    color: #b7b7b7;
}
.back-gray {
    background: #b7b7b7;
}
.lght-gry {
    color: #656565;
}
.grey {
    color: #757575;
}
.lg-blck {
    color: #2d2d2d;
}
.sm-blck {
    color: #7d7d7d;
}
.blck-bg {
    background: #7e7e7e;
}
.blck {
    color: #000000;
}
.light-black {
    color: #3c3b3b;
}
.light-grey {
    color: #7e7e7e;
}
.back-light-grey {
    background-color: #eaeaea;
}
.green-back {
    background-color: #0bcd5d;
}
.lightergray {
    color: #eaeaea;
}
.border-radius-0 {
    border-radius: 0;
}
.blue {
    color: #334494;
}
.white {
    color: #ffffff;
}
.bacgrund-white {
    background-color: #ffffff;
}
.d-inline-block {
    display: inline-block;
}
.orange {
    color: #ff8600;
}
.sblue {
    background-color: #02a3ff;
}
.sblue-txt {
    color: #02a3ff;
}
.orange-back {
    background-color: #ff8600;
}
.liblck {
    color: #434343;
}
.skyblu {
    color: #428eba;
}
.darklightgrey {
    color: #878787;
}
.light-bla {
    color: #484848;
}
.lght-gry {
    color: #4d4d4d;
}
.skbl {
    color: #007eff;
}
.he26 {
    height: 26px;
}
.light-grey {
    color: #a8a8a8;
}
.ligh-grey {
    color: #212121;
}
.light-color-grey {
    color: #333333;
}
.light-color-blck {
    color: #838383;
}
.light-color-blckgrey {
    color: #545454;
}
.skbl-back {
    background-color: #007eff;
}
.bluecolor {
    color: #2ea4ff;
}
.blu-color {
    background-color: #2ea4ff;
}
.bak-color-grey {
    background-color: #F5F5F5;
}
.uppercase {
    text-transform: uppercase;
}

/*.light-green{
    color: #9ACD32;
}*/

/*body{background:url(../images/bg-pattern.png) no-repeat top center / 100%;}*/
.login-form {
    border-radius: 5px;
    padding: 40px 30px;
}
.login-form input {
    border-bottom: 1px solid #ededed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: initial;
}
.number {
    background: url(../images/mob.png) no-repeat top left / 20px;
    padding: 8px 0 10px 30px;
}
.password {
    background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
    padding: 8px 0 10px 30px;
}
.login-btn {
    border-radius: 50px;
    padding: 10px 20px;
    /*    background-color: #02a3ff*/
}
.form-control:focus {
    box-shadow: initial;
}

/** fonts ***/
.seg200 {
    font-weight: 200;
}
.seg400 {
    font-weight: 400;
}
.seg500 {
    font-weight: 500;
}
.seg600 {
    font-weight: 600;
}
.seg700 {
    font-weight: 700;
}
.pData {
    color: #000000;
    font-weight: 400;
}
.seg900 {
    font-weight: 900 !important;
}

/*display */
.disp-block {
    display: inline-block;
}

/**font sizes **/
.font10 {
    font-size: 10px;
}
.font14 {
    font-size: 14px;
}
.font12 {
    font-size: 12px;
}
.font13 {
    font-size: 13px;
}
.font16 {
    font-size: 16px;
}
.font15 {
    font-size: 15px;
}
.font17 {
    font-size: 17px;
}
.font18 {
    font-size: 18px;
}
.font19 {
    font-size: 19px;
}
.font20 {
    font-size: 20px;
}
.font21 {
    font-size: 21px;
}
.font22 {
    font-size: 22px;
}
.font23 {
    font-size: 23px;
}
.font24 {
    font-size: 24px;
}
.floatright {
    float: right;
}
.signtxt {
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0 14px 0px;
    color: #4d4d4d;
}
. .font-group {
    font-weight 400;
    font-size: 14px;
}
.kp_for {
    font-weight: 400;
    font-size: 14px;
    float: left;
}
.kp_for a {
    color: #b7b7b7;
    text-decoration: underline;
}
.form-control {
    border-radius: 0;
}
.logbtn {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    /*right: 37px;*/
    /*margin-left: -48px;*/
}
.logbtn-shadow {
    /*box-shadow: 5px 4px 11px 0px skyblue;*/
    
    box-shadow: 0px 1px 12px 0px skyblue;
}
.login a:hover {
    color: #fff;
}
.new-user a {
    font-weight: 600;
    font-size: 14px;
}
.circlecam {
    height: 3.1em;
    width: 3.1em;
    border-radius: 50%;
    box-shadow: 0px 0px 9px #000000;
    background: #fff;
    position: absolute;
    /* top: -28px; */
    
    color: white;
    /* left: -3px; */
    /* left: 197px; */
    
    left: 70px;
    top: 55px;
    /* border: 2px solid #fff; */
}

/*Top Navbar - Notifications */

/*Notifications */

/*  .popover{
           top: 66px !important;
    left: 742.672px !important;
    display: block;
}*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #007eff;
    border-radius: 10px;
    position: fixed;
    top: 26px;
    /* left: 41px; */
    
    margin-left: -2px;
}
.badge-msg {
    margin-left: -7px;
}
.popver {
    display: none;
}
#notification {
    left: 554.172px !important;
    top: 71px !important;
}
.nav {
    left: 50%;
    margin-left: 116px;
    /*    top:50px;
*/
    
    position: absolute;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #fff;
}
.dropdown {
    background: #fff;
    border-radius: 4px;
    width: 100px;
}
.dropdown-menu>li>a {
    color: #428bca;
}
.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 300px;
    left: -124px;
    /*box-shadow: 5px 10px 18px #000000;*/
    /*box-shadow: 1px 2px 12px 0px #000000;*/
    
    box-shadow: 1px 2px 12px 0px #7e7e7e;
    outline-style: none;
    outline: none;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.navbar-nav>li>a {
    padding-top: 32px !important;
}
.dropdown-menu>li>a {
    padding: 5px 20px;
}
.dropdown-menu>li>a {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
}
.dropdown-menu>li>a:hover {
    color: #000000 !important;
    background-color: #ffffff;
}

/*Responsive css*/

/* Large devices (desktops, less than 1200px) */

/*@media (max-width: 1200px) {

}

@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
    body{background:url(../images/bg-pattern.png) no-repeat top center / cover; overflow-y: hidden;}
}

@media (max-width: 575px) {

}




@media (max-width: 480px) {
    body{background:url(../images/bg-pattern.png);}
    .login-form{background:url('../images/design.png') no-repeat left top / 113%; padding-top: 0; margin-top:0; padding-left: 10px;     margin-left: -15px;}
    .number, .password{width:60%;}
    .form-group.padd-top-10{padding-top:0;}
    .checkbox.padd-top-10{padding-top:0; margin:5px 0;}
    .login-form h4{font-size: 15px; padding: 10px 0;}
    .login, .new-user{width:60%;}
    .gray.pull-right{float:none !important;}
}


@media (max-width: 480px) {
    .login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 178px; padding-left: 10px; margin-left: -15px; padding-bottom: 190px;} .checkbox{font-size:12px;}
    .help_div{position:absolute; right:20px;}
    .footer-logo{position: absolute; right: 10px; bottom: 20px;}
    .login-form .logo{width:150px;}
}



@media (max-width: 380px) {
    .login-form{background: url(../images/design.png) no-repeat left -35px/ 112%; padding-top: 145px; padding-left: 10px; margin-left: -15px; padding-bottom: 120px;} .checkbox{font-size:12px;}
    .help_div{position:absolute; right:20px;}
    .footer-logo{position: absolute; right: 10px; bottom: 50px;}
    .login-form .logo{width:150px;}
}


@media (max-width: 320px) {
    .login-form{padding-top:80px;     margin-top: 15px;}
}


*/
@media only screen and (min-width: 200px) and (max-width: 700px) {
    /*contest **/
    
    .con_1 {
        background: white;
        width: 70px;
        height: 70px;
        border: 1px solid #eaeaea;
        border-radius: 100%;
        background: url(../images/cont_1.png) center no-repeat;
        background-size: 42px 42px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    
    .contestimg {
        position: absolute;
        top: 109px;
        height: 81px;
        left: 127px;
    }
    
    .weel-txt>.panel {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
        border: 0px solid #ccc !important;
    }
    
    .conts-semi {
        margin-top: 7px;
        margin-bottom: -15px;
    }
    
    #dayscnt {
        position: absolute;
        /* margin-left: 21px; */
        height: 50px;
        width: 70px;
        background-color: white;
        border: 4px solid #D9CCD2;
        /* left: 22px; */
        left: 280px;
        /* float: left; */
        top: 120px;
    }
    
    .contModal>.dayscnt {
        top: 37px !important;
        margin-left: -24px;
    }
    
    .bgrund-contes {
        background-image: url('../images/contest_bck.jpg');
        background-size: 356px 175px;
        background-repeat: no-repeat;
    }
    
    .contest_popimg {
        position: absolute;
        top: -3px;
        left: 108px;
        height: 83px;
    }
    /** contest ends **/
    /**** rewards ***/
    /*** rewards stars ***/
    
    .reward_badget .panel-body {
        padding: 24px;
    }
    
    .reward_pill>.nav {
        margin-left: 23px;
        position: initial;
    }
    
    .reward-body .well {
        border: none;
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        /*  background: green; */
    }
    
    .reward-body .well:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    /*** rewards ends ***/
    /** Kpi dashboard - starts **/
    
    #indicatorContainer>canvas {
        height: 53px !important;
        width: 53px !important;
    }
    
    .ContsContainer>canvas {
        height: 80px !important;
        width: 80px !important;
    }
    
    .ContsContainer_1>canvas {
        height: 80px !important;
        width: 80px !important;
    }
    
    .ContsContainer_2>canvas {
        height: 80px !important;
        width: 80px !important;
    }
    
    #days_to_go {
        position: absolute;
        top: 9px;
        left: 16px;
    }
    
    #achvid_score {
        position: absolute;
        top: 95px;
        left: 68px;
        font-family: 'digital';
    }
    
    #days_txt {
        position: absolute;
        top: 24px;
        left: 14px;
        font-size: 7px;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .t_dot {
        height: 10px;
        width: 10px;
        background-color: white;
        border: 1px solid #7e7e7e;
        border-radius: 50%;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .second_target {
        position: absolute;
        top: 3px;
        left: 47px;
    }
    
    .sec_kpi>.panel-default {
        border-color: white !important;
    }
    
    #kpi_container>canvas {
        height: 143px !important;
        width: 143px !important;
    }
    
    .sec_kpi>.panel {
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
    }
    
    hr.divider {
        border-top: 1px solid #b7b7b7;
        width: 112px;
        position: relative;
        top: -12px !important;
        margin-bottom: -24px !important;
    }
    
    .range-kpi .t_dot {
        position: absolute;
    }
    
    .monster {
        /* width: 107px; */
        width: 74px;
        height: 100px;
        -webkit-transform-style: preserve-3d;
        margin: 3% auto;
        background: url('https://image.ibb.co/bXk7cz/rsz_fly.png') repeat-x;
        /*https://image.ibb.co/hdrFUe/fly_loc.png*/
        animation: play 3s steps(3) infinite;
        -webkit-animation: play 3s steps(3) infinite;
        -moz-animation: play 3s steps(3) infinite;
    }
    
    @keyframes play {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -272px 0;
        }
    }
    
    @-webkit-keyframes play {
        /* Chrome and Safari*/
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -272px 0;
        }
    }
    
    @-moz-keyframes play {
        /* Mozilla Firefox */
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -272px 0;
        }
    }
    
    @-ms-keyframes play {
        /*Internet Explorer*/
        100% {
            background-position: -272px;
        }
    }
    /****running transformation ****/
    
    .running {
        width: 53px;
        height: 100px;
        margin: 3% auto;
        background: url('../images/rsz_2run_d.png') repeat-x;
        animation: run 1s steps(4) infinite;
        -webkit-animation: run 1s steps(4) infinite;
        -moz-animation: run 1s steps(4) infinite;
    }
    
    @keyframes run {
        /*  100% { background-position: -345px; }
           */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -275px 0;
        }
    }
    
    @-webkit-keyframes run {
        /* Chrome and Safari*/
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -275px 0;
        }
    }
    
    @-moz-keyframes run {
        /* Mozilla Firefox */
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -275px 0;
        }
    }
    
    @-ms-keyframes run {
        /*Internet Explorer*/
        100% {
            background-position: -275px;
        }
    }
    /*** running transformation **/
    /*** walking animation **/
    
    .walking {
        width: 53px;
        height: 100px;
        margin: 3% auto;
        background: url('https://image.ibb.co/maFFEe/wer.png') repeat-x;
        animation: walk 1s steps(5) infinite;
        -webkit-animation: walk 1s steps(5) infinite;
        -moz-animation: walk 2s steps(5) infinite;
    }
    
    @keyframes walk {
        /*  100% { background-position: -345px; }
           */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -288px 0;
        }
    }
    
    @-webkit-keyframes walk {
        /* Chrome and Safari*/
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -288px 0;
        }
    }
    
    @-moz-keyframes walk {
        /* Mozilla Firefox */
        /*  100% { background-position: -345px; } */
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -288px 0;
        }
    }
    
    @-ms-keyframes walk {
        /*Internet Explorer*/
        100% {
            background-position: -288px;
        }
    }
    /*** walking animation ends ***/
    
    .crwl-img {
        height: 45px !important;
    }
    /** kpi dashboar - Ends **/
    
    #indicatorContainerWrap,
    #indicatorContainer {
        display: inline-block;
        position: relative;
    }
    /* leaderboard page **/
    /*forgot page **/
    
    .burger-ico {
        width: 21px;
        height: 16px;
        position: absolute;
        right: 338px;
        top: 16px;
    }
    
    #homemob,
    #conmob,
    #rewmob,
    #gamecard {
        margin-top: 8px;
    }
    
    #homepicmob,
    #conpicmob,
    #rewpicmob,
    #gamepicmob {
        height: 19px;
    }
    
    #conmob,
    #homemob,
    #rewmob,
    #gamecard {
        margin-left: 38px;
    }
    
    .graph-resp {
        height: 56px;
        width: 56px;
    }
    
    .otpbtn>.logbtn {
        right: 37px !important;
    }
    
    #Sign-form {
        background-size: 220% auto !important;
    }
    
    .mob-num {
        background: url(../images/mob.png) no-repeat top left / 16px;
        padding: 8px 0 10px 26px;
        /*padding: 15px 0 25px 30px;*/
    }
    
    .mob-pass {
        background: url(../images/pswd.png) no-repeat 0px 3px/ 17px;
        padding: 8px 0 10px 26px;
    }
    
    .logo {
        width: 135px !important;
    }
    
    .kep-me-mob {
        padding-top: 2px !important;
    }
    
    .check-container {
        top: -5px;
    }
    
    .check-container {
        bottom: 0px !important;
    }
    
    .fontrspforg {
        font-size: 13px !important;
    }
    
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        /*    position: relative;
*/
        /*padding-left: 28px;*/
        cursor: pointer;
        line-height: 8px;
        display: inline-block;
        top: 0px;
        /*color: #666;*/
    }
    
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #b7b7b7;
        background: radial-gradient(#f6f6f6, #d1d1d1);
        opacity: 0.5;
    }
    
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 7px;
        height: 7px;
        background: #ff9c00;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .btn-default {
        background-color: #2ea4ff !important;
    }
    
    .points-data {
        float: right;
        padding-top: 8px;
        position: relative;
        /*left: 23px;*/
    }
    
    .filter-option label {
        font-weight: 400 !important;
        padding-top: 5px;
    }
    
    .mobkpi-sales {
        position: relative;
        bottom: 4px;
    }
    
    .kpi-list hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .resp-padtop {
        padding-top: 5px !important;
        font-weight: 700;
    }
    
    .positi-top-hr {
        width: 110%;
    }
    
    .forgot-mob {
        margin-bottom: 29px;
        margin-top: 36px;
    }
    /*index **/
    
    .for-passw a {
        position: absolute;
        right: 115px;
    }
    /*fonts ***/
    
    .mob-font-12 {
        font-size: 12px;
    }
    /**margins **/
    
    .mob-marglm-15 {
        /*margin-left: -15px;*/
    }
    
    .mob-v-name {
        font-size: 12px;
        line-height: 1px;
    }
    
    .mob-v-det1 {
        font-size: 16px;
    }
    
    .sales-succ {
        /*height: 12px;
        width: 12px;*/
    }
    
    .checkbox label {
        font-size: 13px;
    }
    
    .sm-table-dev {
        margin-left: -28px;
        background-color: white;
        z-index: 16;
        /* background: aquamarine; */
        top: -57px;
        position: relative;
        width: 123%;
        height: 45px;
        padding-top: 12px;
    }
    
    .stylish-input-group .input-group-addon {
        background: white !important;
    }
    
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }
    
    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
    
    .stylish-input-group .input-group-addon {
        background: white !important;
    }
    
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }
    
    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
    
    .filter-collapse-data .filter-option li {
        list-style-type: none;
        line-height: 1px;
        /*        line-height: 0px; 
*/
        /* border-bottom: 1px dotted #DCDCDC;*/
        /* line-height: 2px;*/
        /*     text-indent: -3px;*/
    }
    
    .block-filterdata {
        height: 61px;
        margin-top: -25px;
        position: relative;
    }
    
    .filter-img img {
        height: 22px;
        width: 22px;
        margin-top: -20px;
    }
    
    .filter-img-arr {
        width: 18px;
        margin-top: -15px;
    }
    
    .img-marg {
        /* left: 19px;
        position: relative;*/
    }
    
    .img-table .img-table-img {
        height: 35px;
        width: 35px;
        margin-top: 14px;
    }
    
    .mobnam {
        right: 25px;
    }
    
    .mobv-left {
        left: -20px;
    }
    
    .right10-mob {
        right: 18px;
    }
    
    .img-table {
        /*  margin-left: -8px !important;*/
    }
    
    .scroll-table {
        margin-left: -41px;
        width: 121%;
        margin-top: -56px;
        height: 363px;
    }
    
    .jumbotron {
        /* margin-left: -12px;
        position: relative;
        bottom: 47px;
        height: 135px;
             width: 351px;

        margin-top: 5px;*/
        /*          
*/
        position: relative;
        bottom: 47px;
        height: 135px;
        /* width: 360px;
          margin-left: -15px;
   */
        margin-top: 5px;
    }
    
    .jum-row {
        margin-top: -9px;
        margin-left: -19px !important;
    }
    
    .salesarea .well-lg {
        height: 0px !important;
        position: relative;
        top: -40px;
        width: 113%;
        left: -17px;
    }
    
    .hr-line {
        left: 30px;
    }
    
    .captnamdiv {
        font-size: 13px;
        position: relative;
        top: 12px;
        margin-bottom: 10px;
        margin-left: -23px;
        margin-top: -8px;
    }
    
    .subcaptnamdiv {
        font-size: 12px;
    }
    
    .mob-pos {
        font-size: 16px !important;
    }
    
    .subcapnamdiv img {
        width: 12px;
        margin-left: -18px;
    }
    
    .pos-details {
        height: 24px;
        width: 25px;
    }
    
    .pos-arrow {
        height: 20px;
        top: -1px;
    }
    
    body {
        background-size: 100% 100vh !important;
    }
    
    .activesz {
        /*    border-right: 7px solid #0090ff;

    border-radius: 4px;
    color: #0090ff;

    */
        background: none;
    }
    
    .sidenav {
        height: 100%;
        width: 120px;
        color: #000;
        position: fixed;
        z-index: -1;
        top: 100px;
        left: 0;
        background-color: #FFF;
        padding-top: 13px;
        margin-top: -24px;
    }
    
    .side-menu-icon {
        width: 100%;
        height: auto;
        /*  padding: 13px;*/
        color: #777777;
        text-align: center;
    }
    
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 10px 0;
    }
    
    .badge-msg {
        margin-left: -1px;
        margin-top: -21px;
    }
    
    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    
    .login-form {
        padding: 0 0 0 10px;
        margin: 26px 0 0 -15px;
    }
    
    .log-forgotpswd {
        padding: 0 0 0 10px;
        margin: 68px 0 0 -7px;
    }
    
    .number,
    .password {
        width: 60%;
    }
    
    .form-group.padd-top-10 {
        padding-top: 0;
    }
    
    .checkbox.padd-top-10 {
        padding-top: 0;
        margin: 5px 0;
    }
    
    .login-form h4 {
        font-size: 15px;
        padding: 10px 0;
    }
    
    .login,
    .new-user {
        width: 60%;
    }
    
    .new-user {
        margin-left: -32px;
    }
    
    .gray.pull-right {
        float: none !important;
    }
    /*  span.help {
        font-size: 32px;
        color: #fff;
        position: absolute;
        background: red;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        height: 60px;
        display: inline-block;
        padding-top: 8px;
    }

*/
    
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 20px;
        text-align: center;
    }
    
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .login-bg {
        width: 400px;
        height: 400px;
        background: #FFF;
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* Standard syntax */
        position: absolute;
        z-index: -1;
        border-radius: 40px;
        left: -170px;
    }
    
    .login-area {
        width: 100%;
        height: auto;
        top: 17%;
        position: absolute;
        z-index: 10;
    }
    
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }
    
    .footer-logo {
        float: right;
    }
    
    header {
        display: none;
    }
    /*  .sidenav {display:none;}
*/
    
    .side-menu-icon {
        width: auto;
        height: auto;
        /*        padding: 12px 28.4px;
*/
        float: left;
        color: #777777;
        text-align: center;
        /*        border: 1px solid green;
*/
    }
    
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 10px 0;
    }
    
    .logo-in {
        width: 100px;
        float: right;
        margin: 19px -68px;
        left: -183px;
        position: relative;
    }
    
    .logo-in img {
        width: 100px;
        height: auto;
    }
    
    .mobile-header {
        width: 100%;
        height: 60px;
        /* margin: 0 0 40px 0; */
        margin: 0;
        background: #FFF;
    }
    
    .header-right-area {
        width: auto;
        float: right;
    }
    
    .top-menu {
        width: auto;
        height: auto;
        margin: 5px;
        color: #777777;
        text-align: center;
        float: right;
        top: 4px;
        position: relative;
    }
    
    .top-menu img {
        width: 20px;
        height: auto;
    }
    
    .logout {
        width: auto;
        height: auto;
        margin: 27px 25px 0px 25px;
        color: #a7a7a7;
        text-align: right;
        float: right;
    }
    
    .logout img {
        width: 20px;
        height: auto;
        float: right;
        margin: 0 10px;
    }
    
    .profile-tab {
        display: none;
    }
    
    .profile-tab-pic {
        width: 50px;
        height: 50px;
        float: right;
        border: 10px #CCC;
        border-radius: 40px;
        background: url(../images/profile-pic.jpg);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .profile-text {
        width: 120px;
        margin: 5px 5px 0 0;
        font-size: 15px;
        font-family: helvetica;
        height: auto;
        float: right;
        text-align: center;
    }
    
    .profile-text p {
        font-size: 10px;
    }
    
    .msg-icon {
        width: 20px;
        height: auto;
        margin: 15px;
        color: #777777;
        text-align: center;
        float: right;
    }
    
    .msg-icon img {
        width: 20px;
        height: auto;
    }
    
    .notification-icon {
        width: 20px;
        height: auto;
        margin: 15px;
        color: #777777;
        text-align: center;
        float: right;
    }
    
    .notification-icon img {
        width: 20px;
        height: auto;
    }
    
    .main-area {
        margin-left: padding: 0px 0px;
    }
    
    .profile-area {
        width: 318px !important;
        height: 454px;
        background: #FFF;
        font-size: 11px;
        color: #777777;
        /* margin: 10% auto; */
        margin: 27% auto;
        left: 8px;
        /* margin-left: -3px; */
        box-shadow: 5px 10px 18px #000000;
        border-radius: 2px;
        /*    margin-left: -17px;
*/
    }
    
    .padd-all-4 {
        // padding: 0 !important;
    }
    
    .font13 {
        /*  font-size: 10px !important; */
    }
    
    .mob-de {
        margin-left: -7px !important;
    }
    
    .mar-tp {
        margin-top: -3px !important;
    }
    /*.font14 {
        font-size: 11px !important;
    }*/
    
    .profile-pic-area {
        width: 100%;
        height: 70px;
    }
    
    .profile-main-tab {
        position: absolute;
        margin: -50px 0 0 110px;
        width: 100px;
        height: 100px;
        z-index: 100;
        border-radius: 50px;
        background: url(../images/profile-pic.jpg);
        background-size: 120px 120px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .msgprofpic {
        position: static !important;
        margin: 0 !important;
        width: 70px;
        height: 70px;
        border: 2px solid #7e7e7e;
        background-size: 93px 89px;
    }
    
    .mesglikepic {
        height: 40px;
        width: 40px;
        background-size: 37px 37px;
    }
    
    .profile-name {
        width: 100%;
        height: 30px;
        font-family: helvetica;
        font-size: 16px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }
    
    .profile-place {
        width: 100%;
        height: 20px;
        font-family: helvetica;
        font-size: 11px;
        text-align: center;
    }
    
    .profile-points {
        width: 100%;
        height: 80px;
        font-family: helvetica;
        font-size: 14px;
        font-weight: bold;
        color: #177dfe;
        text-align: center;
    }
    
    .profile-points span {
        width: 100%;
        height: 30px;
        font-family: helvetica;
        font-size: 11px;
        font-weight: bold;
        color: #777;
        text-align: center;
    }
    
    .profile-area-icon {
        width: 105px !important;
        height: 100px;
        border: 1px solid #DCDCDC;
        float: left;
        padding-top: 18px;
    }
    
    .profile-pic-icon-area {
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .profile-pic-icon-area img {
        width: 23px;
        height: auto;
    }
    
    .bread-crum {
        display: none;
    }
    
    .mobile-bottom-menu {
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        /*bottom: 0px;*/
        bottom: 0px;
        position: absolute;
        width: 100%;
        font-size: 11.5px;
        color: #000;
        background-color: #FFF;
        overflow-x: hidden;
        padding-top: 0px;
    }
    
    .mobile-bottom-menu-icon {
        width: auto;
        height: auto;
        padding: 13px;
        float: left;
        color: #777777;
        text-align: center;
    }
    
    .mobile-bottom-menu-icon img {
        width: 23px;
        height: 23px;
        margin: 0 0 10px 0;
    }
    /*leader board page **/
    /* Switch button */
    
    .btn-default.btn-on.active {
        background-color: #007eff !important;
        color: white;
        border-color: #ccc;
    }
    
    .btn-default.btn-off.active {
        color: white;
        background-color: #007eff !important;
    }
    
    .viewmore .btn {
        background-color: #eaeaea !important;
        color: #484848;
    }
    
    .btn-group .btn {
        background-color: #2ea4ff;
    }
    
    .btn-default.btn-on.active:focus {
        border: 3px solid red;
    }
}
@media only screen and (min-width: 701px) and (max-width: 1024px) {
    body {
        background: green !important;
    }
    
    .positi-top-hr {
        width: 110%;
    }
    
    .name-padding {
        position: relative;
        right: 105px;
    }
    /*forgot page **/
    
    .forgot-mob {
        margin-bottom: 29px;
        margin-top: 36px;
    }
    
    .desk-padding {
        padding-top: 24px;
    }
    
    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    
    .login-form {
        border-radius: 5px;
        padding: 40px 30px;
        background: #FFF;
    }
    
    .login-form input {
        border-bottom: 1px solid #ededed;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: initial;
    }
    
    .number {
        background: url(../images/mob.png) no-repeat top left / 20px;
        padding: 8px 0 10px 30px;
    }
    
    .password {
        background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
        padding: 8px 0 10px 30px;
    }
    
    .login-btn {
        border-radius: 50px;
        padding: 10px 30px;
        background-color: #02a3ff;
    }
    
    .form-control:focus {
        box-shadow: initial;
    }
    
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 50px;
        top: 20px;
        text-align: center;
    }
    
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .login-area {
        width: 400px;
        height: auto;
        margin: 10% auto;
    }
    
    .login-bg {
        background: #FFF;
    }
    
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }
    
    .badge {
        top: 3px !important;
        left: 323px !important;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1800px) {
    /*.img-table img {
        position: relative;
        right: 18px;
    }*/
    
    .hr-line>hr {
        border-top: 1px solid #878787 !important;
        opacity: 0.4;
    }
    /*forgot page **/
    
    .logo {
        width: 220px;
        position: relative;
        bottom: 24px;
    }
    
    .login-formdata .form-control {
        height: 37px !important;
    }
    
    .fontrspforg {
        font-size: 15px !important;
    }
    
    .pos-div {
        margin-left: -92px;
        position: absolute;
        bottom: 16px;
    }
    
    .positi-top-hr {
        width: 1023px;
        color: blue;
    }
    
    .graph-desk {
        position: relative;
        left: 31px !important;
    }
    
    .name-padding {
        position: relative;
        right: 105px;
    }
    
    .forgot-mob {
        margin-bottom: 29px;
        margin-top: 36px;
    }
    /* leader bard page ***/
    
    .points-data {
        float: right;
        padding-top: 8px;
        position: relative;
        left: 30px;
        bottom: 14px;
    }
    
    .viewbutton:hover {
        background-color: red;
    }
    
    .desk-padding {
        padding-top: 24px;
    }
    
    .main-role {
        left: -78px;
    }
    
    .namdiv {
        top: 20px;
        left: -137px;
    }
    
    .profileimg {
        width: 106px;
        height: 106px;
    }
    
    .graphdata {
        background: url(../images/graph-1.png);
        background-repeat: no-repeat;
    }
    
    .login-bg {
        background: url(../images/bg-pattern.png);
        color: #FFF;
    }
    
    .login-form {
        border-radius: 5px;
        /*padding: 40px 30px;*/
        /*  padding: 50px 30px; */
        padding: 30px 28px;
        background: #FFF;
        box-shadow: 0 0 8px #000000;
    }
    
    .login-form input {
        border-bottom: 1px solid #ededed;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: initial;
    }
    
    .number {
        background: url(../images/mob.png) no-repeat top left / 18px;
        padding: 8px 0 10px 30px;
        /*padding: 15px 0 25px 30px;*/
    }
    
    .password {
        background: url(../images/pswd.png) no-repeat 0px 3px/ 20px;
        padding: 8px 0 10px 30px;
    }
    
    .login-btn {
        border-radius: 50px;
        padding: 10px 30px;
    }
    
    .login-btn:hover,
    .login-btn:active {
        /*box-shadow: 1px 2px 5px orange !important;*/
    }
    
    .form-control:focus {
        box-shadow: initial;
    }
    
    span.help {
        font-size: 32px;
        color: #fff;
        position: absolute;
        background: red;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        height: 60px;
        display: inline-block;
        padding-top: 8px;
        /*box-shadow: 0 0 5px #000000;*/
        /*box-shadow: 1px 8px 5px #000000;*/
        box-shadow: 1px 5px 9px #000000;
    }
    
    .help_div {
        position: absolute;
        right: 80px;
        color: #428eba;
        top: 50px;
        top: 20px;
        text-align: center;
    }
    
    .help_div p {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .login-area {
        width: 400px;
        height: auto;
        /*margin: 10% auto;*/
        margin: 6% auto;
    }
    
    .login-bg {
        background: #FFF;
    }
    
    footer {
        bottom: 10px;
        position: absolute;
        width: 100%;
    }
    
    header {
        width: 100%;
        height: 80px;
        background: #FFF;
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.33);
    }
    
    .sidenav {
        max-height: 100%;
        width: 120px;
        color: #000;
        position: fixed;
        z-index: -1;
        top: 100px;
        left: 0;
        background-color: #FFF;
        overflow-x: hidden;
        padding-top: 13px;
        margin-top: -24px;
    }
    
    .side-menu-icon {
        width: 100%;
        height: auto;
        padding: 13px;
        color: #777777;
        text-align: center;
    }
    
    .side-menu-icon img {
        /* width: 23px;
        height: 23px;*/
        margin: 0 0 6px 0;
    }
    
    .logo-in {
        width: 120px;
        float: left;
        margin: 25px 0 0 25px;
    }
    
    .logo-in img {
        width: 136px;
        height: auto;
    }
    
    .header-right-area {
        width: auto;
        float: right;
    }
    
    .top-menu {
        width: auto;
        height: auto;
        margin: 25px;
        color: #777777;
        text-align: center;
        float: right;
    }
    
    .top-menu img {
        width: 20px;
        height: auto;
    }
    
    .logout {
        width: auto;
        height: auto;
        margin: 29px 25px 0px 25px;
        color: #777777;
        text-align: right;
        float: right;
    }
    
    .logout img {
        width: 20px;
        height: auto;
        float: right;
        margin: 0 10px;
    }
    
    .profile-tab {
        width: auto;
        height: auto;
        margin: -16px -82px 0px 25px;
        color: #777777;
        text-align: right;
        float: right;
    }
    
    .profile-tab-pic {
        width: 62px;
        height: 62px;
        float: right;
        border: 3px solid #d0d0d0;
        border-radius: 40px;
        background: url(../images/profile-pic.jpg);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        top: -6px;
        position: relative;
    }
    /*profile-arrow*/
    
    .profile-arrow {
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        background: url(../images/arr.png) center / cover no-repeat orange;
        /* box-shadow: 0 0 0 5px #fff; */
        position: absolute;
        /* top: -28px; */
        color: white;
        margin-left: 46px;
        margin-top: 33px;
        /* left: 197px; */
    }
    
    .profile-text {
        width: 120px;
        margin: -57px 60px -30px 0px;
        font-size: 12px;
        /*        font-family: helvetica;
*/
        height: auto;
        float: right;
        text-align: center;
    }
    
    .profile-text p {
        font-size: 10px;
        margin-top: -5px;
    }
    
    .msg-icon {
        width: 20px;
        height: auto;
        margin: 35px;
        color: #777777;
        text-align: center;
        float: right;
    }
    
    .msg-icon img {
        width: 20px;
        height: auto;
    }
    
    .notification-icon {
        width: 20px;
        height: auto;
        margin: 35px;
        color: #777777;
        text-align: center;
        float: right;
    }
    
    .notification-icon img {
        width: 20px;
        height: auto;
    }
    
    .main-area {
        margin-left: 100px;
        padding: 0px 10px;
    }
    
    .main-area-leaderboard {
        /*  margin-left: 31px;
        padding: 0px 10px;
        width: 106%;*/
        width: 114%;
        /* margin-left: 0px;
        padding: 0px 8px;*/
        position: fixed;
        left: 119px;
    }
    
    .profile-area {
        width: 400px;
        height: 400px;
        background: #FFF;
        font-size: 11px;
        color: #777777;
        margin: 10% auto;
        /* box-shadow: 5px 10px 18px #000000;*/
        box-shadow: 3px 5px 18px 7px rgba(0, 0, 0, 0.5);
        /*  -moz-box-shadow: 0 1px 4px #000000, 0 0 1px #000000 inset;
        box-shadow: 0 1px 1px #000000, 0 0 1px #000000 inset;*/
        border-radius: 2px;
    }
    
    .profile-pic-area {
        width: 100%;
        height: 70px;
    }
    
    .profile-main-tab-pos {
        position: absolute;
        margin: -50px 0 0 150px;
    }
    
    .profile-main-tab {
        /*position: absolute;
        margin: -50px 0 0 150px;
        */
        width: 100px;
        height: 100px;
        z-index: 100;
        border-radius: 50px;
        background: url(../images/profile-pic.jpg);
        background-size: 120px 120px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
}
.profile-name {
    width: 100%;
    height: 30px;
    font-family: helvetica;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.profile-place {
    width: 100%;
    height: 20px;
    font-family: helvetica;
    font-size: 15px;
    text-align: center;
}
.profile-points {
    width: 100%;
    height: 68px;
    /*        font-family: helvetica;
*/
    
    font-size: 15px;
    font-weight: 900;
    color: #177dfe;
    text-align: center;
    margin: 12px 0 0px;
}
.profile-points span {
    width: 100%;
    height: 30px;
    /*        font-family: helvetica;
*/
    
    font-size: 14px;
    font-weight: 700;
    color: #787878;
    text-align: center;
}
.profile-area-icon {
    width: 133px;
    height: 100px;
    border: 1px #CCC;
    float: left;
}
.profile-pic-icon-area {
    width: 100%;
    height: auto;
    text-align: center;
}
.profile-pic-icon-area img {
    width: 23px;
    height: auto;
}
.bread-crum {
    width: 100%;
    height: 40px;
    float: left;
    font-size: 19px;
    color: #FFF;
    margin: 0px;
    position: absolute;
    border-bottom-width: 15px;
    border-color: blue;
    top: 109px;
    left: 142px;
}
.bar-line {
    border-radius: 1px 2px 0px 2px;
    border-bottom: 4px solid #0090ff;
    width: 26px;
    /* top: -58px; */
    
    position: fixed;
    /* bottom: 228px; */
    /* right: 1267px; */
}
.mobile-bottom-menu {
    /*  display: none;*/
}
.sidenav-txt {
    color: #007eff;
}

/* margins in desktops **/
.mrg-l-desk-1 {
    margin-left: 1px;
}

}

/* main*/