  /*
jQuery-Circle-Plugin v0.1 by Jamal hassouni
https://github.com/jamalhassouni
*/
  
  body {
      background: #6e739a;
      margin: 50px 0;
  }
  
  .mb20 {
      margin: 7px 20px;
  }
  
  .cdev {
      position: relative;
      height: 100px;
      width: 100px;
      margin: 0 auto;
  }
  
  .cdev div {
      position: absolute;
      height: 100px;
      width: 100px;
      border-radius: 50%;
  }
  
  .cdev div span {
      position: absolute;
      font-family: Arial;
      font-size: 25px;
      line-height: 75px;
      height: 75px;
      width: 75px;
      left: 12.5px;
      top: 12.5px;
      text-align: center;
      border-radius: 50%;
      background-color: white;
  }
  
  .cdev .background {
      background-color: #b3cef6;
  }
  
  .cdev .rotate {
      clip: rect(0 50px 100px 0);
      background-color: #4b86db;
  }
  
  .cdev .left {
      clip: rect(0 50px 100px 0);
      opacity: 1;
      background-color: #b3cef6;
  }
  
  .cdev .right {
      clip: rect(0 50px 100px 0);
      transform: rotate(180deg);
      opacity: 0;
      background-color: #4b86db;
  }
  
  @keyframes toggle {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }